.contentpanel
    .panel.panel-default()
        .panel-heading(style="height: 70px")
          .col-md-3
            h4.panel-title Hospitals
          .col-md-9
            form.form-horizontal(ng-submit="search_gvt(__temp)", )
              .form-group
                label.control-label.col-sm-4.col-md-4 Hospital Name
                .col-sm-5.col-md-5
                  input.form-control(type="text", ng-model="__temp.name", required)
                  span.help-text 
                .col-sm-3.col-md-3
                  button.btn.btn-small.btn-white(ng-disabled="") Search
                  button.btn.btn-small.btn-lightblue(type="reset" ng-click="__temp.name = ''; search_gvt({})") Reset

        .panel-body
          .row
            .col-md-12
              .box-widget
                table.table.paper-tbl-theme.table-bordered.responsive.table-paper
                  thead
                    tr
                      th
                        | Hospital Name
                      th
                        | LGA
                      th
                        | Ward
                      th
                        | Type
                      th
                        | Ownership
                  tbody
                    tr.h_row(ng-repeat="h in valRes", ng-click="commons.href('hospitals/' + h.user)")
                      td
                        | {{h.facilityName}}
                      td
                        | {{h.lga}}
                      td
                        | {{h.lga_ward}}
                      td
                        | {{h.facilityType}}
                      td
                        | {{h.ownership}}
