block foot  
  //AngularJS
  script(type='text/javascript', src='/lib/angular/angular.js')
  script(type='text/javascript', src='/lib/angular-cookies/angular-cookies.js')
  script(type='text/javascript', src='/lib/angular-resource/angular-resource.js')
  //
    Bootstrap
  script(src='/js/jquery-ui-1.10.3.custom.min.js')
  script(src='/js/bootstrap.min.js')
  script(src='/js/prettify.js')

  script(src='/js/underscore-min.js')

  //Application Init
  script(type='text/javascript', src='/js/app.js')
  script(src='/js/modules/lang.js')    
  script(src='/js/common/services/services.js')
  script(src='/js/common/filters/filters.js')
  script(src='/js/common/directives/directives.js')
  script(src='/js/modules/hospital/hospital.js')
  script(src='/js/modules/dashboard/dashboard.js')
  script(src='/js/modules/order/order.js')
  script(src='/js/modules/reports/reports.js')
  script(src='/js/modules/drug/drug.js')
  script(src='/js/modules/bills/bills.js')
  script(src='/js/modules/dispense/dispense.js')
  script(src='/js/modules/supplier/supplier.js')
  script(src='/js/modules/admin/admin.js')
  script(src='/js/modules/stock/stock.js')


  //
    jQuery touch scroll 
  script(src='/js/jquery.nicescroll.js')
  script(src='/js/jquery.cookie.js')
  script(src='/js/jquery.hoverIntent.minified.js')
  //
    jQuery leftbar navigation accordion 
  script(src='/js/jquery.dcjqaccordion.2.7.js')

  //
    jQuery mini chart 
  script(src='/js/jquery.sparkline.min.js')

  //
     Theme common script 
  script(src='/js/common-script.js')
  //if lte IE 7
    script(src='/js/font-alpona-ie7.js')
