head
  block head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    meta(name='viewport', content='width=device-width,initial-scale=1')

    title= 'Integra Medicare Online - '+title
    meta(http-equiv='Content-type', content='text/html;charset=UTF-8')
    meta(name="keywords", content="node.js, express, mongoose, mongodb, angularjs, integra, integra health, health, medicare, medicine, hospital,")
    meta(name="description", content="Integra Online")

    link(href='/img/icons/favicon.ico', rel='shortcut icon', type='image/x-icon')
    

    link(href='/css/bootstrap.css', rel='stylesheet')
    link(href='/css/font-alpona.css', rel='stylesheet')
    link(href='/css/prettify.css', rel='stylesheet')
    link(href='/css/responsive-tables.css', rel='stylesheet')
    link(href='/css/styles.css', rel='stylesheet')
    link(href='/css/bootstrap-reset.css', rel='stylesheet')
    link(href='/css/page.css', rel='stylesheet')

    script(src='/js/jquery.js')

    //if lt IE 9
      script(src='http://html5shim.googlecode.com/svn/trunk/html5.js')
