.top-bar
  .container
    .row
      .col-sm-4.col-md-4
        a.left-toggle(href='#')
          i.icon-menu-2
        //
           LOGO 
        .branding
          a(href='/')
            h4 Integra Medicare Online
      .col-sm-4.col-md-4.responsive-notification-mnu
        ul.notification-bar
          li.dropdown
            a.dropdown-toggle(href='#', data-toggle='dropdown')
              i.icon-bell
            .dropdown-menu
              .dropdown-head
                h6 You have 10 new notifications
              ul.notification-list
                li
                  a.clearfix(href='#')
                    i.icon-star.blue
                    span.notification-intro
                      | Donec pretium enim vel nisl viverra posuere.
                      span.notification-time 8 min ago
                li
                  a.clearfix(href='#')
                    i.icon-bell.orange
                    span.notification-intro
                      | Vestibulum viverra magna vitae dui volutpat dapibus.
                      span.notification-time 3 hours ago
                li
                  a.clearfix(href='#')
                    i.icon-bolt.brown
                    span.notification-intro
                      | Fusce eget ipsum in odio consectetur condimentum et id nisl.
                      span.notification-time 5 hours ago
                li
                  a.clearfix(href='#')
                    i.icon-ok-sign.green
                    span.notification-intro
                      | Mauris fringilla metus in mauris molestie tempor
                      span.notification-time 8 hours ago
              .action-btn
                button.btn.btn-block View All
      .col-sm-4.col-md-4.clearfix.responsive-log-mnu
        //
           ADMIN DRODOWN MENU 
        .loged-nav.pull-right
          ul.clearfix
            li.log-nav.dropdown.pull-right
              a.dropdown-toggle.clearfix(data-toggle='dropdown')
                span.pull-left.loged-user-name King Mykel Koded
                span.logged-user-thumb.pull-right
              .dropdown-menu
                ul.pull-right
                  li
                    a(href='#') michael.rhema@gmail.com
                  li
                    a(href='#') Edit Profile
                  li
                    a(href='#') Inbox
                  li.divider
                  li
                    a.logout-link(href='/signout')
                      | Logout
