script(src="/js/jquery-1.10.2.min.js")
script(src="/js/angular.min.js")
script(src="/js/angular-route.min.js")
script(src="/js/jquery-migrate-1.2.1.min.js")
script(src="/js/bootstrap.min.js")
script(src="/js/modernizr.min.js")
script(src="/js/retina.min.js")

script(src="/js/chosen.jquery.min.js")

script(src="/js/custom.js")