script(src="/js/jquery-1.10.2.min.js")
script(src="/js/jquery-ui-1.10.3.min.js")
script(src="/js/angular.min.js")
script(src="/js/angular-route.min.js")
script(src="/js/jquery-migrate-1.2.1.min.js")
script(src="/js/bootstrap.min.js")
script(src="/js/modernizr.min.js")
script(src="/js/retina.min.js")
script(src="/js/toggles.min.js")
script(src="/js/chosen.jquery.min.js")
script(src="/js/bootstrap-editable.min.js")
script(src="/js/typeahead.bundle.js")
script(src="/js/moment.js")
script(src="/js/bootstrap-switch.min.js ")
script(src="/js/underscore-min.js ")
script(src="/js/jquery.gritter.min.js")
script(src="/js/ng-tags-input.min.js")
script(src="/js/angular-dragdrop.min.js")
script(src="/js/jquery.slimscroll.min.js")
script(src="/js/xeditable.min.js")

//Application Init
script(type='text/javascript', src='/js/app.js')
script(src='/js/modules/lang.js')    
script(src='/js/common/services/services.js')
script(src='/js/common/filters/filters.js')
script(src='/js/common/directives/directives.js')
script(src='/js/common/directives/checklist-model.js')
script(src='/js/modules/hospital/hospital.js')
script(src='/js/modules/dashboard/dashboard.js')
script(src='/js/modules/order/order.js')
script(src='/js/modules/reports/reports.js')
script(src='/js/modules/drug/drug.js')
script(src='/js/modules/bills/bills.js')
script(src='/js/modules/dispense/dispense.js')
script(src='/js/modules/supplier/supplier.js')
script(src='/js/modules/admin/admin.js')
script(src='/js/modules/stock/stock.js')
script(src='/js/modules/user/user.js')
script(src='/js/modules/organization/organization.js')
script(src="/js/custom.js")
