.headerbar
    a.menutoggle
      i.fa.fa-bars
    form.searchform(action='/', method='post')
      input.form-control(type='text', name='keyword', placeholder='Search here...')
    .header-right
      ul.headermenu
        -if (isPermitted(['order-cart'])) 
          li(ng-controller="orderCartController")
            .btn-group
              a.btn.btn-default.tp-icon(href="/a/orders/cart", order-cart-basket="orderCart")
                | Order Cart
                i.fa.fa-shopping-cart
                span.badge {{orderCart.length}}

        li
          .btn-group
            button.btn.btn-default.dropdown-toggle(type='button', data-toggle='dropdown')
              img(src='/images/photos/loggeduser.png', alt='')
              | #{userData.email}
              span.caret
            ul.dropdown-menu.dropdown-menu-usermenu.pull-right
              li
                a(href='/a/profile')
                  i.glyphicon.glyphicon-user
                  | My Profile
              li
                a(href='/signout', target="_self")
                  i.glyphicon.glyphicon-log-out
                  | Log Out
    //
       header-right 