meta(charset='utf-8')
meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
meta(name='viewport', content='width=device-width,initial-scale=1')

title= 'Integra StocCloud - '+title
meta(http-equiv='Content-type', content='text/html;charset=UTF-8')
meta(name="keywords", content="node.js, express, mongoose, mongodb, angularjs, integra, integra health, health, medicare, medicine, hospital,")
meta(name="description", content="Integra Online")

link(href='/images/favicon.ico', rel='shortcut icon', type='image/x-icon')

link(href='/css/bootstrap-editable.css', rel='stylesheet')
link(href='/css/style.default.css', rel='stylesheet')
link(href='/css/jquery.datatables.css', rel='stylesheet')
link(href='/css/bootstrap-switch.min.css', rel='stylesheet')
link(href='/css/dropzone.css', rel='stylesheet')
link(href='/css/style.custom.css', rel='stylesheet')
link(href='/css/jquery.gritter.css', rel='stylesheet')
link(href='/css/ng-tags-input.min.css', rel='stylesheet')
link(href='/css/jquery-ui-1.10.3.css', rel="stylesheet")
link(href='/css/xeditable.css', rel="stylesheet")
script(src="/js/angular.min.js")

//if lt IE 9
  script(src='http://html5shim.googlecode.com/svn/trunk/html5.js')
