.rightpanel
  ul.nav.nav-tabs.nav-justified
    li.active
      a(href='#rp-alluser', data-toggle='tab')
        i.fa.fa-users
    li
      a(href='#rp-favorites', data-toggle='tab')
        i.fa.fa-heart
    li
      a(href='#rp-history', data-toggle='tab')
        i.fa.fa-clock-o
    li
      a(href='#rp-settings', data-toggle='tab')
        i.fa.fa-gear
  //
     Tab panes 
  .tab-content
    #rp-alluser.tab-pane.active
      h5.sidebartitle Online Users
      ul.chatuserlist
        li.online
          .media
            a.pull-left.media-thumb(href='#')
              img.media-object(alt='', src='images/photos/userprofile.png')
            .media-body
              strong Eileen Sideways
              small Los Angeles, CA
          //
             media 
        li.online
          .media
            a.pull-left.media-thumb(href='#')
              img.media-object(alt='', src='images/photos/user1.png')
            .media-body
              span.pull-right.badge.badge-danger 2
              strong Zaham Sindilmaca
              small San Francisco, CA
          //
             media 
        li.online
          .media
            a.pull-left.media-thumb(href='#')
              img.media-object(alt='', src='images/photos/user2.png')
            .media-body
              strong Nusja Nawancali
              small Bangkok, Thailand
          //
             media 
        li.online
          .media
            a.pull-left.media-thumb(href='#')
              img.media-object(alt='', src='images/photos/user3.png')
            .media-body
              strong Renov Leongal
              small Cebu City, Philippines
          //
             media 
        li.online
          .media
            a.pull-left.media-thumb(href='#')
              img.media-object(alt='', src='images/photos/user4.png')
            .media-body
              strong Weno Carasbong
              small Tokyo, Japan
          //
             media 
      .mb30
      h5.sidebartitle Offline Users
      ul.chatuserlist
        li
          .media
            a.pull-left.media-thumb(href='#')
              img.media-object(alt='', src='images/photos/user5.png')
            .media-body
              strong Eileen Sideways
              small Los Angeles, CA
          //
             media 
        li
          .media
            a.pull-left.media-thumb(href='#')
              img.media-object(alt='', src='images/photos/user2.png')
            .media-body
              strong Zaham Sindilmaca
              small San Francisco, CA
          //
             media 
        li
          .media
            a.pull-left.media-thumb(href='#')
              img.media-object(alt='', src='images/photos/user3.png')
            .media-body
              strong Nusja Nawancali
              small Bangkok, Thailand
          //
             media 
        li
          .media
            a.pull-left.media-thumb(href='#')
              img.media-object(alt='', src='images/photos/user4.png')
            .media-body
              strong Renov Leongal
              small Cebu City, Philippines
          //
             media 
        li
          .media
            a.pull-left.media-thumb(href='#')
              img.media-object(alt='', src='images/photos/user5.png')
            .media-body
              strong Weno Carasbong
              small Tokyo, Japan
          //
             media 
        li
          .media
            a.pull-left.media-thumb(href='#')
              img.media-object(alt='', src='images/photos/user4.png')
            .media-body
              strong Renov Leongal
              small Cebu City, Philippines
          //
             media 
        li
          .media
            a.pull-left.media-thumb(href='#')
              img.media-object(alt='', src='images/photos/user5.png')
            .media-body
              strong Weno Carasbong
              small Tokyo, Japan
          //
             media 
    #rp-favorites.tab-pane
      h5.sidebartitle Favorites
      ul.chatuserlist
        li.online
          .media
            a.pull-left.media-thumb(href='#')
              img.media-object(alt='', src='images/photos/user2.png')
            .media-body
              strong Eileen Sideways
              small Los Angeles, CA
          //
             media 
        li
          .media
            a.pull-left.media-thumb(href='#')
              img.media-object(alt='', src='images/photos/user1.png')
            .media-body
              strong Zaham Sindilmaca
              small San Francisco, CA
          //
             media 
        li
          .media
            a.pull-left.media-thumb(href='#')
              img.media-object(alt='', src='images/photos/user3.png')
            .media-body
              strong Nusja Nawancali
              small Bangkok, Thailand
          //
             media 
        li.online
          .media
            a.pull-left.media-thumb(href='#')
              img.media-object(alt='', src='images/photos/user4.png')
            .media-body
              strong Renov Leongal
              small Cebu City, Philippines
          //
             media 
        li.online
          .media
            a.pull-left.media-thumb(href='#')
              img.media-object(alt='', src='images/photos/user5.png')
            .media-body
              strong Weno Carasbong
              small Tokyo, Japan
          //
             media 
    #rp-history.tab-pane
      h5.sidebartitle History
      ul.chatuserlist
        li.online
          .media
            a.pull-left.media-thumb(href='#')
              img.media-object(alt='', src='images/photos/user4.png')
            .media-body
              strong Eileen Sideways
              small Hi hello, ctc?... would you mind if I go to your...
          //
             media 
        li
          .media
            a.pull-left.media-thumb(href='#')
              img.media-object(alt='', src='images/photos/user2.png')
            .media-body
              strong Zaham Sindilmaca
              small This is to inform you that your product that we...
          //
             media 
        li
          .media
            a.pull-left.media-thumb(href='#')
              img.media-object(alt='', src='images/photos/user3.png')
            .media-body
              strong Nusja Nawancali
              small Are you willing to have a long term relat...
          //
             media 
    #rp-settings.tab-pane.pane-settings
      h5.sidebartitle.mb20 Settings
      .form-group
        label.col-xs-8.control-label Show Offline Users
        .col-xs-4.control-label
          .toggle.toggle-success
      .form-group
        label.col-xs-8.control-label Enable History
        .col-xs-4.control-label
          .toggle.toggle-success
      .form-group
        label.col-xs-8.control-label Show Full Name
        .col-xs-4.control-label
          .toggle-chat1.toggle-success
      .form-group
        label.col-xs-8.control-label Show Location
        .col-xs-4.control-label
          .toggle.toggle-success
    //
       tab-pane 
  //
     tab-content 
//
   rightpanel 
