.leftpanel
    .logopanel
        h1(style="text-align: center")
          a(href='/')
            span
              img( src="/images/splash-logo.png", width="143px")

      //
         logopanel
      .leftpanelinner
        //
           This is only visible to small devices
        .visible-xs.hidden-sm.hidden-md.hidden-lg
          .media.userlogged
            img.media-object(alt='', src='/images/photos/loggeduser.png')
            .media-body
              h4 #{userData.email}
          h5.sidebartitle.actitle Account
          ul.nav.nav-pills.nav-stacked.nav-bracket.mb30
            li
              a(href='/a/profile')
                i.fa.fa-user
                span Profile
            li
              a(href='/signout')
                i.fa.fa-sign-out
                span Sign Out
        h5.sidebartitle Navigation
        -if (isPermitted(['place-order']))
          a.btn.btn-success-alt.btn-block(style="margin-bottom: 5px",  href="/a/orders/new")
            i.fa.fa-shopping-cart
            | New Order
        -if (isPermitted(['add-item']))
          a.btn.btn-success-alt.btn-block(style="margin-bottom: 5px", href='/a/drugs/add-new')
            i.fa.fa-shopping-cart
            | Add Item
        hr
        include ../widgets/side-menu.jade
        +sidemenu(navs)
