.DS_Store
.nodemonignore
.sass-cache/
node_modules/**/*
!node_modules/connect-mongo/
!node_modules/express-jwt/
#public
#public/lib
config/development.json
#public/images/profile-images
#public/images/item-images
mobile
