doctype html
html(lang='en',ng-app="stocPublic")
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='')
    title Drugstoc
    link(href='/css/bootstrap.min.css', rel='stylesheet')
    link(href='/css/startup.css', rel='stylesheet')
    //if lt IE 9
      script(src='/js/html5shiv.js')
      script(src='/js/respond.min.js')
    link(rel='shortcut icon', href='/images/favicon.html')
    link(href='http://fonts.googleapis.com/css?family=Open+Sans:300,600', rel='stylesheet', type='text/css')
    link(href='http://fonts.googleapis.com/css?family=Dosis:400,600|Cabin:400,500|Oswald|Roboto+Condensed' rel='stylesheet' type='text/css')
    style.
      a.list-group-item {
          height:auto;
          min-height:220px;
      }
      a.list-group-item.active small {
          color:#fff;
      }
      .stars {
          margin:20px auto 1px;    
      }   
      li {
        text-align: left;
      }
      a.navbar-brand {
        font-family: 'Oswald', sans-serif;
        font-size: 24px;
      }
      .logo h2 {
        font-family: 'Oswald', sans-serif;
        font-size: 70px;
        color: white;

      }
  body()
      block bodyContent
    script(src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js")
    script.
      window.jQuery || document.write('<script src="js/jquery-2.1.1.min.js">\x3C/script>')
    script(src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.2.1/js/bootstrap.min.js")
    script.
      $.fn.modal || document.write('<script src="Script/bootstrap.min.js">\x3C/script>')  
    script(src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.min.js")
      window.jQuery || document.write('<script src="js/angular.min.js">\x3C/script>')
    script(src="/js/angular-route.min.js")      
    script(src='/js/public-module.min.js')

