mixin loadActivities
  -if (isPermitted(['view-activity']))
    #activities.tab-pane.active
      .activity-list(ng-repeat="act in activity")
        .media.act-media
          a.pull-left(href='#')
            img.media-object.act-thumb(src='images/photos/user1.png', alt='')
          .media-body.act-media-body
            strong {{act.alertDescription}}
            |  
            strong by <a href="#">Hospital</a>
            | .
            br
            small.text-muted  {{act.created | date: 'medium'}}

      //
         activity-list 
      button.btn.btn-white.btn-block Show More