mixin loadCalendar
  -if (isPermitted(['view-calendar']))
    #calendar.tab-pane
      .activity-list
        .media.act-media
          a.pull-left(href='#')
            img.media-object.act-thumb(src='images/photos/user2.png', alt='')
          .media-body.act-media-body
            strong Chris Anthemum
            | liked a photos
            br
            small.text-muted Today at 12:30pm
            ul.uploadphoto-list
              li
                a(href='images/photos/media5.png', data-rel='prettyPhoto')
                  img.img-responsive(src='images/photos/media5.png', alt='')
              li
                a(href='images/photos/media4.png', data-rel='prettyPhoto')
                  img.img-responsive(src='images/photos/media4.png', alt='')
        //
           media 
        .media.act-media
          a.pull-left(href='#')
            img.media-object.act-thumb(src='images/photos/user1.png', alt='')
          .media-body.act-media-body
            strong Ray Sin
            | is now following to
            strong Chris Anthemum
            | .
            br
            small.text-muted Yesterday at 1:30pm
        //
           media 
        .media.act-media
          a.pull-left(href='#')
            img.media-object.act-thumb(src='images/photos/user4.png', alt='')
          .media-body.act-media-body
            strong Frank Furter
            | is now following to
            strong Ray Sin
            | .
            br
            small.text-muted 3 days ago at 1:30pm
        //
           media 
        .media.act-media
          a.pull-left(href='#')
            img.media-object.act-thumb(src='images/photos/user2.png', alt='')
          .media-body.act-media-body
            strong Chris Anthemum
            | liked a photos
            br
            small.text-muted 5 days ago at 12:30pm
            ul.uploadphoto-list
              li
                a(href='images/photos/media6.png', data-rel='prettyPhoto')
                  img.img-responsive(src='images/photos/media6.png', alt='')
              li
                a(href='images/photos/media7.png', data-rel='prettyPhoto')
                  img.img-responsive(src='images/photos/media7.png', alt='')
              li
                a(href='images/photos/media2.png', data-rel='prettyPhoto')
                  img.img-responsive(src='images/photos/media2.png', alt='')
        //
           media 
        .media.act-media
          a.pull-left(href='#')
            img.media-object.act-thumb(src='images/photos/user1.png', alt='')
          .media-body.act-media-body
            strong Nusja Nawancali
            | is now following to
            strong Zaham Sindilmaca
            | .
            br
            small.text-muted December 25 at 1:30pm
        //
           media 
        .media.act-media
          a.pull-left(href='#')
            img.media-object.act-thumb(src='images/photos/user4.png', alt='')
          .media-body.act-media-body
            strong Frank Furter
            | is now following to
            strong Zaham Sindilmaca
            | .
            br
            small.text-muted December 24 at 1:30pm
        //
           media 
        .media.act-media
          a.pull-left(href='#')
            img.media-object.act-thumb(src='images/photos/user3.png', alt='')
          .media-body.act-media-body
            strong Nusja NawanCali
            | posted a new blog.
            br
            small.text-muted December 23 at 3:18pm
            .media.blog-media
              a.pull-left(href='#')
                img.media-object(src='images/photos/media3.png', alt='')
              .media-body
                h4.media-title
                  a(href='#') Ut Enim Ad Minim Veniam
                p
                  | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat...
                  a(href='#') Read more
            //
               media 
        //
           media 
        .media.act-media
          a.pull-left(href='#')
            img.media-object.act-thumb(src='images/photos/user4.png', alt='')
          .media-body.act-media-body
            strong Mark Zonsion
            | is now following to
            strong Weno Carasbong
            | .
            br
            small.text-muted December 23 at 1:30pm
        //
           media 
        .media.act-media
          a.pull-left(href='#')
            img.media-object.act-thumb(src='images/photos/user4.png', alt='')
          .media-body.act-media-body
            strong Frank Furter
            | is now following to
            strong Weno Carasbong
            | .
            br
            small.text-muted December 20 at 4:30pm
        //
           media 
      //
         activity-list 
      button.btn.btn-white.btn-block Show More