mixin loadDrugPages()
  -if (isPermitted(['view-drug-pages']))
    #drug-pages.tab-pane
      .follower-list
        .panel-heading
          .col-title(style="float: left")
            h4 Found {{userProfile.drugs.length || 0}} Drugs / Medical Items
          -if (userData.account_type === 5)
            .col-button(style="float: right; width: 20%")
              .btn-group.pull-right
                button.btn.btn-lightblue(ng-click="place_quick_cart(quickQuote)", ng-disabled="!quickQuote.length > 0") Order
                button.btn.btn-lightblue(ng-click="place_quick_cart(quickQuote)", ng-disabled="!quickQuote.length > 0")
                  | {{quickQuote.length}}
            .col-button(style="float: right; width: 20%")
              select.form-control(ng-model="quickOrderFilter.itemId.category")
                option(value="") --Filter by--
                each cat in commons.categories
                  option=cat
          .clearfix
        .panel-body
          -if (userData.account_type === 5)
            .media(ng-repeat="drug in userProfile.drugs | filter: quickOrderFilter")
              .row
                .col-sm-9.col-md-9
                  .media-body
                    h3.follower-name {{drug.itemId.itemName}}
                    dl.dl-horizontal
                      dt Last Ordered
                      dd {{drug.orderDate | date:'medium'}}
                      dt Category
                      dd {{drug.itemId.category}}
                      dt Packaging
                      dd {{drug.itemId.packageQty|| '--'}} per {{drug.itemId.itemPackaging || '--'}}

                    .mb20
                .col-sm-2.col-md-2
                  .pull-right
                    .row
                      -if (userData.account_type < 5 )
                        button.btn.btn-sm.btn-danger
                          i.fa.fa-times
                      -if (userData.account_type === 5 )
                        input.form-control(type="number", placeholder="Amount", ng-model="drug.packageCount")
                        span.hepl-text <strong> Total Qty: </strong> {{drug.itemId.packageQty * drug.packageCount || 0}}
                .col-md-1.col-sm-1
                  input.pull-right(type="checkbox", checklist-model="quickQuote",  checklist-value="drug")
                .clearfix
          -if (userData.account_type !== 5)
            .media(ng-repeat="drug in userProfile.drugs | filter: quickOrderFilter")
              .row
                .col-sm-9.col-md-9
                  a.pull-left(href='#')
                    img.media-object(ng-src='/images/item-images/thumb-{{drug.drug.images[drug.drug.images.length -1] || "item-avatar.jpg"}}', alt='', style="width: 50px")
                  .media-body
                    h3.follower-name {{drug.drug.itemName || 'Removed Item'}}
                    .profile-location
                      | {{drug.drug.sciName}}
                    .profile-position
                      | {{drug.drug.category}}
                    .mb20
                .col-sm-2.col-md-2
                  .pull-right
                    .row
                      -if (userData.account_type < 5 )
                        button.btn.btn-xs.btn-danger(style="padding: 2px 8px;border-radius: 15px;", ng-click="remove_my_drug(drug.drug._id, $index)")
                          i.fa.fa-times(style="margin: 0")
                .clearfix