mixin loadDrugPages()
  -if (isPermitted(['view-drug-pages']))
    #drug-pages.tab-pane
      .follower-list
        .panel-heading
          -var drugs = userProfile.drugs || [], count = drugs.length
          h4 Found #{count} Drugs / Medical Items
        .panel-body
            each drug in drugs
              if (drug.drug)
                .media
                  .row
                    .col-sm-8.col-md-8
                      a.pull-left(href='#')
                        img.media-object(src='holder.js/100x125.html', alt='')
                      .media-body
                        h3.follower-name #{drug.drug.itemName}
                        .profile-location
                          | #{drug.drug.sciName}
                        .profile-position
                          | #{drug.drug.category}
                        .mb20
                    .col-sm-3.col-md-3
                      .pull-right
                        .row 
                          button.btn.btn-sm.btn-success.mb5
                            i.fa.fa-user
                            | Add Stock
                        .row
                          button.btn.btn-sm.btn-success.mb5
                            i.fa.fa-user
                            | Change Price
                        .row
                          button.btn.btn-sm.btn-danger
                            i.fa.fa-times
                    .clearfix