<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="https://www.facebook.com/2008/fbml" ng-app="stocUser">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Integra StocCloud - undefined</title>
    <meta http-equiv="Content-type" content="text/html;charset=UTF-8">
    <meta name="keywords" content="node.js, express, mongoose, mongodb, angularjs, integra, integra health, health, medicare, medicine, hospital,">
    <meta name="description" content="Integra Online">
    <link href="favicon.ico" rel="shortcut icon" type="image/x-icon">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="/css/vendor.min.css" rel="stylesheet">
    <link href="/css/theme.min.css" rel="stylesheet">
    <!--if lt IE 9script(src='http://html5shim.googlecode.com/svn/trunk/html5.js')
    -->
  </head>
  <body ng-controller="MainController">
    <div id="preloader" ng-cloak class="splash">
      <div id="status"><i class="fa fa-spinner fa-spin"></i></div>
    </div>
    <section>
      <div class="leftpanel">
        <div class="logopanel">
          <h1><a href="/"><span>[</span>StocCloud<span>]</span></a></h1>
        </div>
        <!--logopanel 
        -->
        <div class="leftpanelinner">
          <!--This is only visible to small devices 
          -->
          <div class="visible-xs hidden-sm hidden-md hidden-lg">
            <div class="media userlogged"><img alt="" src="/images/photos/loggeduser.png" class="media-object">
              <div class="media-body">
                <h4>nouser@drugstoc.ng</h4>
              </div>
            </div>
            <h5 class="sidebartitle actitle">Account</h5>
            <ul class="nav nav-pills nav-stacked nav-bracket mb30">
              <li><a href="/a/profile"><i class="fa fa-user"></i><span>Profile</span></a></li>
              <li><a href="/signout"><i class="fa fa-sign-out"></i><span>Sign Out</span></a></li>
            </ul>
          </div>
          <h5 class="sidebartitle">Navigation</h5><a style="margin-bottom: 5px" href="/a/orders/new" class="btn btn-success-alt btn-block"><i class="fa fa-shopping-cart"></i>New Order</a><a style="margin-bottom: 5px" href="/a/drugs/add-new" class="btn btn-success-alt btn-block"><i class="fa fa-shopping-cart"></i>Add Item    </a>
          <hr>
                    <ul class="nav nav-pills nav-stacked nav-bracket">
                                <li><a href="/"><i class="fa fa-home"></i><span>Dashboard</span></a>
                                </li>
                                <li><a href="/a/orders"><i class="fa fa-home"></i><span>Orders</span></a>
                                </li>
                    </ul>
        </div>
      </div>
      <div class="mainpanel">
        <div class="headerbar"><a class="menutoggle"><i class="fa fa-bars"></i></a>
          <form action="/" method="post" class="searchform">
            <input type="text" name="keyword" placeholder="Search here..." class="form-control">
          </form>
          <div class="header-right">
            <ul class="headermenu">
              <li>
                <div class="btn-group"><a href="/a/orders/cart" order-cart-basket="my_quotation" class="btn btn-default tp-icon">My Quotations<i class="fa fa-shopping-cart"></i><span class="badge">{{my_quotation.length}}</span></a></div>
              </li>
              <li>
                <div class="btn-group"><a href="/a/profile" class="btn btn-default tp-icon">Updates <i class="fa fa-star-o"></i><span class="badge">{{activity || 0}}</span></a></div>
              </li>
              <li ng-controller="userController">
                <div class="btn-group">
                  <button type="button" data-toggle="dropdown" class="btn btn-default dropdown-toggle"><img src="/images/photos/loggeduser.png" alt="">nouser@drugstoc.ng<span class="caret"></span></button>
                  <ul class="dropdown-menu dropdown-menu-usermenu pull-right">
                    <li role="presentation" ng-init="userAccount.allowedNotifications = undefined" class="dropdown-header">Alerts</li>
                    <li><a href="">Portal
                        <div class="btn-group pull-right">
                          <label ng-click="update_account_notices('portal')" ng-model="userAccount.allowedNotifications.portal" btn-radio="true" class="btn btn-primary btn-xs toggle-UAN">On</label>
                          <label ng-click="update_account_notices('portal')" ng-model="userAccount.allowedNotifications.portal" btn-radio="false" class="btn btn-primary btn-xs toggle-UAN">Off</label>
                        </div></a></li>
                    <li><a href="">SMS
                        <div class="btn-group pull-right">
                          <label ng-click="update_account_notices('sms')" ng-model="userAccount.allowedNotifications.sms" btn-radio="true" class="btn btn-primary btn-xs toggle-UAN">On</label>
                          <label ng-click="update_account_notices('sms')" ng-model="userAccount.allowedNotifications.sms" btn-radio="false" class="btn btn-primary btn-xs toggle-UAN">Off</label>
                        </div></a></li>
                    <li><a href="" class="disabled">EMail                
                        <div class="btn-group pull-right">
                          <label ng-click="update_account_notices('email')" ng-model="userAccount.allowedNotifications.email" btn-radio="true" class="btn btn-primary btn-xs toggle-UAN">On</label>
                          <label ng-click="update_account_notices('email')" ng-model="userAccount.allowedNotifications.email" btn-radio="false" class="btn btn-primary btn-xs toggle-UAN">Off</label>
                        </div></a></li>
                    <li class="divider"></li>
                    <li role="presentation" class="dropdown-header">Account</li>
                    <li><a href="/a/profile"><i class="glyphicon glyphicon-user"></i>My Profile</a></li>
                    <li><a href="/signout" target="_self"><i class="glyphicon glyphicon-log-out"></i>Log Out</a></li>
                  </ul>
                </div>
              </li>
            </ul>
          </div>
          <!--header-right 
          -->
        </div>
        <div class="pageheader">
          <h2>{{headerTitle}}<span>...</span></h2>
          <div class="breadcrumb-wrapper"><span class="label">You are here:</span>
            <ol class="breadcrumb">
              <li><a href="/">Home</a></li>
              <li class="active">Dashboard</li>
            </ol>
          </div>
        </div>
        <div ng-view class="x-view"></div>
      </div>
    </section>
    <div class="footer">
      <div class="pull-left">© 2014. All Rights Reserved. StocCloud</div>
      <div class="pull-right"><a href="http://integrahealth.com.ng" target="_blank">www.integrahealth.com.ng</a></div>
    </div>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="/js/jquery-2.1.1.min.js">\x3C/script>')</script>
    <script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.2.1/js/bootstrap.min.js"></script>
    <script>$.fn.modal || document.write('<script src="/js/bootstrap.min.js">\x3C/script>')  </script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.min.js">
      window.angular || document.write('<script src="/js/angular.min.js">\x3C/script>') 
    </script>
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>
    <script src="/js/jquery-ui-1.10.3.min.js"></script>
    <script src="/js/angular-route.min.js"></script>
    <script src="/js/default-vendor.min.js"></script>
    <!--Application Init-->
    <script src="/js/modules.min.js"></script>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        ga('create', 'UA-51278084-1', 'stoc-cloud-dev.herokuapp.com');
        ga('send', 'pageview');      
        
    </script>
  </body>
</html>