@font-face {
	font-family: 'alpona';
	src:url('../fonts/alpona.eot');
	src:url('../fonts/alpona.eot@#iefix') format('embedded-opentype'),
		url('../fonts/alpona.woff') format('woff'),
		url('../fonts/alpona.ttf') format('truetype'),
		url('../fonts/alpona.svg#alpona') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
	font-family: 'alpona';
	content: attr(data-icon);
	speak: none;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}

/* Use the following CSS code if you want to have a class per icon */
/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="icon-"] {
*/
.icon-home, .icon-home-2, .icon-office, .icon-newspaper, .icon-pencil, .icon-pencil-2, .icon-pencil-3, .icon-pen, .icon-pen-2, .icon-brush, .icon-palette, .icon-eyedropper, .icon-droplet, .icon-image, .icon-image-2, .icon-images, .icon-image-3, .icon-images-2, .icon-camera, .icon-camera-2, .icon-music, .icon-camera-3, .icon-camera-4, .icon-film, .icon-movie, .icon-movie-2, .icon-movie-3, .icon-play, .icon-headphones, .icon-headphones-2, .icon-gamepad, .icon-pacman, .icon-king, .icon-bullhorn, .icon-new, .icon-radio, .icon-connection, .icon-radio-2, .icon-mic, .icon-connection-2, .icon-podcast, .icon-mic-2, .icon-mic-3, .icon-book, .icon-books, .icon-graduation, .icon-file, .icon-profile, .icon-file-2, .icon-file-3, .icon-file-4, .icon-file-5, .icon-file-6, .icon-files, .icon-file-plus, .icon-file-minus, .icon-file-download, .icon-file-upload, .icon-file-check, .icon-file-remove, .icon-file-7, .icon-file-8, .icon-file-plus-2, .icon-file-minus-2, .icon-file-download-2, .icon-file-upload-2, .icon-file-check-2, .icon-file-remove-2, .icon-file-9, .icon-copy, .icon-copy-2, .icon-copy-3, .icon-copy-4, .icon-paste, .icon-paste-2, .icon-paste-3, .icon-folder, .icon-folder-download, .icon-folder-upload, .icon-folder-plus, .icon-folder-plus-2, .icon-folder-minus, .icon-folder-minus-2, .icon-folder8, .icon-folder-remove, .icon-folder-2, .icon-folder-open, .icon-folder-plus-3, .icon-folder-minus-3, .icon-folder-download-2, .icon-folder-upload-2, .icon-folder-3, .icon-folder-open-2, .icon-certificate, .icon-cc, .icon-tag, .icon-tags, .icon-tags-2, .icon-tag-2, .icon-barcode, .icon-qrcode, .icon-cart, .icon-cart-2, .icon-cart-3, .icon-cart-plus, .icon-cart-minus, .icon-cart-add, .icon-cart-remove, .icon-cart-checkout, .icon-cart-remove-2, .icon-basket, .icon-basket-2, .icon-bag, .icon-bag-2, .icon-bag-3, .icon-coin, .icon-credit, .icon-credit-2, .icon-calculate, .icon-calculate-2, .icon-support, .icon-phone, .icon-contact-add, .icon-contact-remove, .icon-address-book, .icon-address-book-2, .icon-notebook, .icon-envelop, .icon-envelop-opened, .icon-pushpin, .icon-location, .icon-location-2, .icon-location-3, .icon-location-4, .icon-compass, .icon-direction, .icon-clock, .icon-clock-2, .icon-clock-3, .icon-alarm, .icon-alarm-2, .icon-bell, .icon-alarm-plus, .icon-alarm-minus, .icon-alarm-check, .icon-alarm-cancel, .icon-stopwatch, .icon-calendar, .icon-calendar-2, .icon-calendar-3, .icon-calendar-4, .icon-calendar-5, .icon-print, .icon-print-2, .icon-print-3, .icon-mouse, .icon-mouse-2, .icon-mouse-3, .icon-keyboard, .icon-screen, .icon-screen-2, .icon-screen-3, .icon-laptop, .icon-mobile, .icon-mobile-2, .icon-tablet, .icon-mobile-3, .icon-tv, .icon-cabinet, .icon-archive, .icon-box-add, .icon-box-remove, .icon-download, .icon-upload, .icon-disk, .icon-cd, .icon-storage, .icon-database, .icon-rotate, .icon-rotate-2, .icon-undo, .icon-redo, .icon-forward, .icon-reply, .icon-reply-2, .icon-bubble, .icon-bubbles, .icon-bubbles-2, .icon-bubble-2, .icon-bubbles-3, .icon-bubbles-4, .icon-bubble-notification, .icon-bubbles-5, .icon-bubbles-6, .icon-bubble-3, .icon-bubble-dots, .icon-bubble-4, .icon-bubble-5, .icon-bubble-dots-2, .icon-bubble-6, .icon-bubble-7, .icon-bubble-8, .icon-bubbles-7, .icon-bubble-9, .icon-bubbles-8, .icon-bubble-10, .icon-bubble-dots-3, .icon-bubble-11, .icon-bubble-12, .icon-bubble-dots-4, .icon-bubble-13, .icon-bubbles-9, .icon-bubbles-10, .icon-bubble-blocked, .icon-bubble-quote, .icon-bubble-user, .icon-bubble-check, .icon-bubble-video-chat, .icon-bubble-link, .icon-bubble-locked, .icon-bubble-star, .icon-bubble-heart, .icon-bubble-paperclip, .icon-bubble-cancel, .icon-bubble-plus, .icon-bubble-minus, .icon-bubble-notification-2, .icon-bubble-trash, .icon-bubble-left, .icon-user, .icon-users, .icon-user-plus, .icon-user-plus-2, .icon-user-minus, .icon-user-minus-2, .icon-user-2, .icon-user-plus-3, .icon-user-minus-3, .icon-user-3, .icon-users-2, .icon-user-4, .icon-vcard, .icon-tshirt, .icon-quotes-left, .icon-quotes-right, .icon-busy, .icon-busy-2, .icon-busy-3, .icon-spinner, .icon-binoculars, .icon-binoculars-2, .icon-search, .icon-search-2, .icon-zoom-in, .icon-zoom-out, .icon-search-3, .icon-expand, .icon-contract, .icon-expand-2, .icon-contract-2, .icon-key, .icon-key-2, .icon-keyhole, .icon-lock, .icon-lock-2, .icon-wrench, .icon-equalizer, .icon-equalizer-2, .icon-cog, .icon-cogs, .icon-cog-2, .icon-cog-3, .icon-cog-4, .icon-factory, .icon-tools, .icon-wand, .icon-wand-2, .icon-pie, .icon-pie-2, .icon-pie-3, .icon-pie-4, .icon-pie-5, .icon-pie-6, .icon-pie-7, .icon-stats, .icon-stats-2, .icon-stats-3, .icon-construction, .icon-bug, .icon-aid, .icon-health, .icon-bars, .icon-bars-2, .icon-bars-3, .icon-bars-4, .icon-bars-5, .icon-stats-up, .icon-stats-down, .icon-stairs-down, .icon-stairs-down-2, .icon-chart, .icon-gift, .icon-gift-2, .icon-trophy, .icon-trophy-2, .icon-trophy-star, .icon-crown, .icon-glass, .icon-meter-slow, .icon-meter, .icon-lamp, .icon-lamp-2, .icon-magnet, .icon-lab, .icon-lamp-3, .icon-lamp-4, .icon-remove, .icon-remove-2, .icon-remove-3, .icon-remove-4, .icon-remove-5, .icon-briefcase, .icon-briefcase-2, .icon-puzzle, .icon-paper-plane, .icon-bus, .icon-truck, .icon-cube, .icon-cube4, .icon-target, .icon-brain, .icon-accessibility, .icon-sun-glasses, .icon-target-2, .icon-shield, .icon-shield-2, .icon-shield-3, .icon-shield-4, .icon-clipboard, .icon-clipboard-2, .icon-signup, .icon-clipboard-3, .icon-clipboard-4, .icon-cord, .icon-power-cord, .icon-switch, .icon-power, .icon-list, .icon-list-2, .icon-list-3, .icon-numbered-list, .icon-list-4, .icon-list-5, .icon-playlist, .icon-grid, .icon-grid-2, .icon-grid-3, .icon-grid-4, .icon-grid-5, .icon-grid-6, .icon-tree, .icon-tree-2, .icon-tree-3, .icon-menu, .icon-menu-2, .icon-cloud-download, .icon-cloud-upload, .icon-download-2, .icon-upload-2, .icon-download-3, .icon-upload-3, .icon-download-4, .icon-upload-4, .icon-download-5, .icon-upload-5, .icon-earth, .icon-network, .icon-link, .icon-link-2, .icon-anchor, .icon-flag, .icon-flag-2, .icon-attachment, .icon-eye, .icon-eye-blocked, .icon-bookmarks, .icon-bookmark, .icon-brightness-contrast, .icon-star, .icon-star-2, .icon-star-3, .icon-star-4, .icon-star-5, .icon-star-6, .icon-heart, .icon-heart-2, .icon-heart-broken, .icon-thumbs-down, .icon-thumbs-down-2, .icon-thumbs-up, .icon-thumbs-up-2, .icon-thumbs-up-3, .icon-thumbs-up-4, .icon-happy, .icon-happy-2, .icon-smiley, .icon-smiley-2, .icon-tongue, .icon-tongue-2, .icon-sad, .icon-sad-2, .icon-wink, .icon-wink-2, .icon-grin, .icon-grin-2, .icon-cool, .icon-cool-2, .icon-angry, .icon-angry-2, .icon-evil, .icon-evil-2, .icon-confused, .icon-confused-2, .icon-cursor, .icon-point-up, .icon-point-right, .icon-point-down, .icon-point-left, .icon-stack-empty, .icon-stack-picture, .icon-stack-list, .icon-stack-user, .icon-move, .icon-warning, .icon-warning-2, .icon-notification, .icon-notification-2, .icon-question, .icon-question-2, .icon-question-3, .icon-question-4, .icon-question-5, .icon-plus-circle, .icon-plus-circle-2, .icon-minus-circle, .icon-minus-circle-2, .icon-info, .icon-info-2, .icon-blocked, .icon-cancel-circle, .icon-cancel-circle-2, .icon-cancel, .icon-checkmark-circle, .icon-checkmark-circle-2, .icon-enter, .icon-exit, .icon-exit-2, .icon-play-2, .icon-pause, .icon-stop, .icon-backward, .icon-forward-2, .icon-play-3, .icon-pause-2, .icon-stop-2, .icon-backward-2, .icon-forward-3, .icon-first, .icon-last, .icon-previous, .icon-next, .icon-eject, .icon-volume-high, .icon-spell-check, .icon-plus, .icon-checkmark, .icon-checkmark-2, .icon-close, .icon-arrow-up, .icon-arrow-right, .icon-arrow-down, .icon-arrow-left, .icon-arrow-up-2, .icon-arrow-right-2, .icon-arrow-down-2, .icon-arrow-left-2, .icon-arrow-up-3, .icon-arrow-right-3, .icon-arrow-left-3, .icon-arrow-up-4, .icon-arrow-right-4, .icon-arrow-left-4, .icon-arrow-up-5, .icon-arrow-right-5, .icon-arrow-down-3, .icon-arrow-left-5, .icon-arrow-square, .icon-arrow-right-6, .icon-arrow-down-4, .icon-arrow-left-6, .icon-arrow-up-6, .icon-arrow-right-7, .icon-arrow-down-5, .icon-arrow-left-7, .icon-menu-3, .icon-esc, .icon-backspace, .icon-checkbox-partial, .icon-checkbox-checked, .icon-checkbox, .icon-radio-unchecked, .icon-checkbox-unchecked, .icon-filter, .icon-font, .icon-font-size, .icon-type, .icon-scissors, .icon-vector, .icon-scissors-2, .icon-paragraph-justify, .icon-table, .icon-table-2, .icon-mail, .icon-google-plus, .icon-google-plus-2, .icon-google-plus-3, .icon-google-plus-4, .icon-facebook, .icon-facebook-2, .icon-flickr, .icon-flickr-2, .icon-vimeo, .icon-vimeo2, .icon-vimeo-2, .icon-feed, .icon-feed-2, .icon-feed-3, .icon-twitter, .icon-twitter-2, .icon-twitter-3, .icon-instagram, .icon-facebook-3, .icon-facebook-4, .icon-picassa, .icon-picassa-2, .icon-dribbble, .icon-dribbble-2, .icon-forrst, .icon-forrst-2, .icon-deviantart, .icon-deviantart-2, .icon-github, .icon-blogger, .icon-tumblr, .icon-windows, .icon-android, .icon-windows8, .icon-skype, .icon-lastfm, .icon-lastfm-2, .icon-delicious, .icon-stumbleupon, .icon-stackoverflow, .icon-pinterest, .icon-pinterest-2, .icon-paypal, .icon-paypal-2, .icon-libreoffice, .icon-file-pdf, .icon-file-openoffice, .icon-file-word, .icon-file-excel, .icon-yelp, .icon-safari, .icon-opera, .icon-IE, .icon-firefox, .icon-chrome, .icon-html5, .icon-html5-2, .icon-file-css, .icon-file-xml, .icon-file-powerpoint, .icon-file-zip, .icon-console, .icon-code, .icon-embed, .icon-paragraph-justify-2, .icon-new-tab, .icon-new-tab-2, .icon-pilcrow, .icon-linkedin, .icon-reddit, .icon-weather-lightning, .icon-link-3, .icon-heart-3, .icon-star-7, .icon-star-empty, .icon-user-5, .icon-film-2, .icon-th-large, .icon-th, .icon-th-list, .icon-ok, .icon-remove-6, .icon-zoom-in-2, .icon-zoom-out-2, .icon-off, .icon-signal, .icon-cog-5, .icon-road, .icon-download-alt, .icon-download-6, .icon-upload-6, .icon-inbox, .icon-play-circle, .icon-repeat, .icon-refresh, .icon-list-alt, .icon-lock-3, .icon-flag-3, .icon-headphones-3, .icon-volume-off, .icon-volume-down, .icon-volume-up, .icon-book-2, .icon-bookmark-2, .icon-print-4, .icon-camera-5, .icon-font-2, .icon-bold, .icon-italic, .icon-text-height, .icon-text-width, .icon-align-left, .icon-align-center, .icon-align-right, .icon-align-justify, .icon-list-6, .icon-indent-left, .icon-map-marker, .icon-adjust, .icon-tint, .icon-edit, .icon-share, .icon-check, .icon-move-2, .icon-step-backward, .icon-fast-backward, .icon-backward-3, .icon-play-4, .icon-pause-3, .icon-stop-3, .icon-forward-4, .icon-fast-forward, .icon-plus-sign, .icon-minus-sign, .icon-remove-sign, .icon-ok-sign, .icon-question-sign, .icon-info-sign, .icon-screenshot, .icon-remove-circle, .icon-ok-circle, .icon-ban-circle, .icon-arrow-left-8, .icon-arrow-right-8, .icon-arrow-up-7, .icon-arrow-down-6, .icon-share-alt, .icon-asterisk, .icon-exclamation-sign, .icon-gift-3, .icon-leaf, .icon-fire, .icon-eye-open, .icon-eye-close, .icon-warning-sign, .icon-plane, .icon-calendar-6, .icon-random, .icon-comment, .icon-magnet-2, .icon-chevron-up, .icon-chevron-down, .icon-glass-2, .icon-music-2, .icon-search-4, .icon-envelope, .icon-trash, .icon-home-3, .icon-file-10, .icon-time, .icon-qrcode-2, .icon-barcode-2, .icon-tag-3, .icon-tags-3, .icon-indent-right, .icon-facetime-video, .icon-picture, .icon-pencil-4, .icon-step-forward, .icon-eject-2, .icon-chevron-left, .icon-chevron-right, .icon-resize-full, .icon-resize-small, .icon-plus-2, .icon-minus, .icon-comments, .icon-thumbs-up-5, .icon-thumbs-down-3, .icon-star-half, .icon-heart-empty, .icon-signout, .icon-linkedin-sign, .icon-facebook-5, .icon-github-2, .icon-unlock, .icon-credit-3, .icon-rss, .icon-hdd, .icon-bullhorn-2, .icon-tasks, .icon-filter-2, .icon-briefcase-3, .icon-fullscreen, .icon-group, .icon-link-4, .icon-cloud, .icon-magic, .icon-truck-2, .icon-pinterest-3, .icon-pinterest-sign, .icon-google-plus-sign, .icon-google-plus-5, .icon-money, .icon-dashboard, .icon-comment-alt, .icon-comments-alt, .icon-bolt, .icon-sitemap, .icon-umbrella, .icon-paste-4, .icon-hospital, .icon-ambulance, .icon-medkit, .icon-fighter-jet, .icon-beer, .icon-h-sign, .icon-plus-sign-2, .icon-retweet, .icon-shopping-cart, .icon-folder-close, .icon-folder-open-3, .icon-resize-vertical, .icon-resize-horizontal, .icon-bar-chart, .icon-twitter-sign, .icon-facebook-sign, .icon-camera-retro, .icon-key-3, .icon-cogs-2, .icon-pushpin-2, .icon-external-link, .icon-signin, .icon-trophy-3, .icon-github-sign, .icon-upload-alt, .icon-lemon, .icon-phone-2, .icon-check-empty, .icon-bookmark-empty, .icon-phone-sign, .icon-twitter-4, .icon-bell-2, .icon-certificate-2, .icon-hand-right, .icon-hand-left, .icon-hand-up, .icon-hand-down, .icon-circle-arrow-left, .icon-circle-arrow-right, .icon-circle-arrow-up, .icon-circle-arrow-down, .icon-globe, .icon-wrench-2, .icon-beaker, .icon-cut, .icon-copy-5, .icon-paper-clip, .icon-save, .icon-sign-blank, .icon-reorder, .icon-list-ul, .icon-list-ol, .icon-strikethrough, .icon-underline, .icon-table-3, .icon-caret-down, .icon-caret-up, .icon-caret-left, .icon-caret-right, .icon-columns, .icon-sort, .icon-sort-down, .icon-sort-up, .icon-envelope-alt, .icon-linkedin-2, .icon-undo-2, .icon-legal, .icon-lightbulb, .icon-exchange, .icon-cloud-download-2, .icon-cloud-upload-2, .icon-user-md, .icon-stethoscope, .icon-suitcase, .icon-bell-alt, .icon-coffee, .icon-food, .icon-file-alt, .icon-building, .icon-folder-close-alt, .icon-folder-open-alt, .icon-double-angle-left, .icon-double-angle-right, .icon-double-angle-up, .icon-double-angle-down, .icon-angle-left, .icon-angle-right, .icon-angle-up, .icon-angle-down, .icon-desktop, .icon-laptop-2, .icon-tablet-2, .icon-mobile-4, .icon-circle-blank, .icon-quote-left, .icon-quote-right, .icon-spinner-2, .icon-circle, .icon-reply-3, .icon-github-alt, .icon-pawn {
	font-family: 'alpona';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}
.icon-home:before {
	content: "\e000";
}
.icon-home-2:before {
	content: "\e001";
}
.icon-office:before {
	content: "\e002";
}
.icon-newspaper:before {
	content: "\e003";
}
.icon-pencil:before {
	content: "\e004";
}
.icon-pencil-2:before {
	content: "\e005";
}
.icon-pencil-3:before {
	content: "\e006";
}
.icon-pen:before {
	content: "\e007";
}
.icon-pen-2:before {
	content: "\e008";
}
.icon-brush:before {
	content: "\e009";
}
.icon-palette:before {
	content: "\e00a";
}
.icon-eyedropper:before {
	content: "\e00b";
}
.icon-droplet:before {
	content: "\e00c";
}
.icon-image:before {
	content: "\e00d";
}
.icon-image-2:before {
	content: "\e00e";
}
.icon-images:before {
	content: "\e00f";
}
.icon-image-3:before {
	content: "\e010";
}
.icon-images-2:before {
	content: "\e011";
}
.icon-camera:before {
	content: "\e012";
}
.icon-camera-2:before {
	content: "\e013";
}
.icon-music:before {
	content: "\e014";
}
.icon-camera-3:before {
	content: "\e015";
}
.icon-camera-4:before {
	content: "\e016";
}
.icon-film:before {
	content: "\e017";
}
.icon-movie:before {
	content: "\e018";
}
.icon-movie-2:before {
	content: "\e019";
}
.icon-movie-3:before {
	content: "\e01a";
}
.icon-play:before {
	content: "\e01b";
}
.icon-headphones:before {
	content: "\e01c";
}
.icon-headphones-2:before {
	content: "\e01d";
}
.icon-gamepad:before {
	content: "\e01e";
}
.icon-pacman:before {
	content: "\e01f";
}
.icon-king:before {
	content: "\e020";
}
.icon-bullhorn:before {
	content: "\e021";
}
.icon-new:before {
	content: "\e022";
}
.icon-radio:before {
	content: "\e023";
}
.icon-connection:before {
	content: "\e024";
}
.icon-radio-2:before {
	content: "\e025";
}
.icon-mic:before {
	content: "\e026";
}
.icon-connection-2:before {
	content: "\e027";
}
.icon-podcast:before {
	content: "\e028";
}
.icon-mic-2:before {
	content: "\e029";
}
.icon-mic-3:before {
	content: "\e02a";
}
.icon-book:before {
	content: "\e02b";
}
.icon-books:before {
	content: "\e02d";
}
.icon-graduation:before {
	content: "\e02e";
}
.icon-file:before {
	content: "\e02f";
}
.icon-profile:before {
	content: "\e030";
}
.icon-file-2:before {
	content: "\e031";
}
.icon-file-3:before {
	content: "\e032";
}
.icon-file-4:before {
	content: "\e033";
}
.icon-file-5:before {
	content: "\e034";
}
.icon-file-6:before {
	content: "\e035";
}
.icon-files:before {
	content: "\e036";
}
.icon-file-plus:before {
	content: "\e037";
}
.icon-file-minus:before {
	content: "\e038";
}
.icon-file-download:before {
	content: "\e039";
}
.icon-file-upload:before {
	content: "\e03a";
}
.icon-file-check:before {
	content: "\e03b";
}
.icon-file-remove:before {
	content: "\e03c";
}
.icon-file-7:before {
	content: "\e03d";
}
.icon-file-8:before {
	content: "\e03e";
}
.icon-file-plus-2:before {
	content: "\e03f";
}
.icon-file-minus-2:before {
	content: "\e040";
}
.icon-file-download-2:before {
	content: "\e041";
}
.icon-file-upload-2:before {
	content: "\e042";
}
.icon-file-check-2:before {
	content: "\e043";
}
.icon-file-remove-2:before {
	content: "\e044";
}
.icon-file-9:before {
	content: "\e045";
}
.icon-copy:before {
	content: "\e046";
}
.icon-copy-2:before {
	content: "\e047";
}
.icon-copy-3:before {
	content: "\e048";
}
.icon-copy-4:before {
	content: "\e049";
}
.icon-paste:before {
	content: "\e04a";
}
.icon-paste-2:before {
	content: "\e04b";
}
.icon-paste-3:before {
	content: "\e04c";
}
.icon-folder:before {
	content: "\e04d";
}
.icon-folder-download:before {
	content: "\e04e";
}
.icon-folder-upload:before {
	content: "\e04f";
}
.icon-folder-plus:before {
	content: "\e050";
}
.icon-folder-plus-2:before {
	content: "\e051";
}
.icon-folder-minus:before {
	content: "\e052";
}
.icon-folder-minus-2:before {
	content: "\e053";
}
.icon-folder8:before {
	content: "\e054";
}
.icon-folder-remove:before {
	content: "\e055";
}
.icon-folder-2:before {
	content: "\e056";
}
.icon-folder-open:before {
	content: "\e057";
}
.icon-folder-plus-3:before {
	content: "\e05a";
}
.icon-folder-minus-3:before {
	content: "\e05b";
}
.icon-folder-download-2:before {
	content: "\e05e";
}
.icon-folder-upload-2:before {
	content: "\e05f";
}
.icon-folder-3:before {
	content: "\e058";
}
.icon-folder-open-2:before {
	content: "\e059";
}
.icon-certificate:before {
	content: "\e05c";
}
.icon-cc:before {
	content: "\e05d";
}
.icon-tag:before {
	content: "\e060";
}
.icon-tags:before {
	content: "\e061";
}
.icon-tags-2:before {
	content: "\e062";
}
.icon-tag-2:before {
	content: "\e063";
}
.icon-barcode:before {
	content: "\e064";
}
.icon-qrcode:before {
	content: "\e065";
}
.icon-cart:before {
	content: "\e066";
}
.icon-cart-2:before {
	content: "\e067";
}
.icon-cart-3:before {
	content: "\e068";
}
.icon-cart-plus:before {
	content: "\e069";
}
.icon-cart-minus:before {
	content: "\e06a";
}
.icon-cart-add:before {
	content: "\e06b";
}
.icon-cart-remove:before {
	content: "\e06c";
}
.icon-cart-checkout:before {
	content: "\e06d";
}
.icon-cart-remove-2:before {
	content: "\e06e";
}
.icon-basket:before {
	content: "\e06f";
}
.icon-basket-2:before {
	content: "\e070";
}
.icon-bag:before {
	content: "\e071";
}
.icon-bag-2:before {
	content: "\e072";
}
.icon-bag-3:before {
	content: "\e073";
}
.icon-coin:before {
	content: "\e074";
}
.icon-credit:before {
	content: "\e075";
}
.icon-credit-2:before {
	content: "\e076";
}
.icon-calculate:before {
	content: "\e077";
}
.icon-calculate-2:before {
	content: "\e078";
}
.icon-support:before {
	content: "\e079";
}
.icon-phone:before {
	content: "\e07a";
}
.icon-contact-add:before {
	content: "\e07b";
}
.icon-contact-remove:before {
	content: "\e07c";
}
.icon-address-book:before {
	content: "\e07d";
}
.icon-address-book-2:before {
	content: "\e07e";
}
.icon-notebook:before {
	content: "\e07f";
}
.icon-envelop:before {
	content: "\e080";
}
.icon-envelop-opened:before {
	content: "\e081";
}
.icon-pushpin:before {
	content: "\e082";
}
.icon-location:before {
	content: "\e083";
}
.icon-location-2:before {
	content: "\e084";
}
.icon-location-3:before {
	content: "\e085";
}
.icon-location-4:before {
	content: "\e086";
}
.icon-compass:before {
	content: "\e087";
}
.icon-direction:before {
	content: "\e088";
}
.icon-clock:before {
	content: "\e089";
}
.icon-clock-2:before {
	content: "\e08a";
}
.icon-clock-3:before {
	content: "\e08b";
}
.icon-alarm:before {
	content: "\e08c";
}
.icon-alarm-2:before {
	content: "\e08d";
}
.icon-bell:before {
	content: "\e08e";
}
.icon-alarm-plus:before {
	content: "\e08f";
}
.icon-alarm-minus:before {
	content: "\e090";
}
.icon-alarm-check:before {
	content: "\e091";
}
.icon-alarm-cancel:before {
	content: "\e092";
}
.icon-stopwatch:before {
	content: "\e093";
}
.icon-calendar:before {
	content: "\e094";
}
.icon-calendar-2:before {
	content: "\e095";
}
.icon-calendar-3:before {
	content: "\e096";
}
.icon-calendar-4:before {
	content: "\e097";
}
.icon-calendar-5:before {
	content: "\e098";
}
.icon-print:before {
	content: "\e099";
}
.icon-print-2:before {
	content: "\e09a";
}
.icon-print-3:before {
	content: "\e09b";
}
.icon-mouse:before {
	content: "\e09c";
}
.icon-mouse-2:before {
	content: "\e09d";
}
.icon-mouse-3:before {
	content: "\e09e";
}
.icon-keyboard:before {
	content: "\e09f";
}
.icon-screen:before {
	content: "\e0a0";
}
.icon-screen-2:before {
	content: "\e0a1";
}
.icon-screen-3:before {
	content: "\e0a2";
}
.icon-laptop:before {
	content: "\e0a3";
}
.icon-mobile:before {
	content: "\e0a4";
}
.icon-mobile-2:before {
	content: "\e0a5";
}
.icon-tablet:before {
	content: "\e0a6";
}
.icon-mobile-3:before {
	content: "\e0a7";
}
.icon-tv:before {
	content: "\e0a8";
}
.icon-cabinet:before {
	content: "\e0a9";
}
.icon-archive:before {
	content: "\e0aa";
}
.icon-box-add:before {
	content: "\e0ab";
}
.icon-box-remove:before {
	content: "\e0ac";
}
.icon-download:before {
	content: "\e0ad";
}
.icon-upload:before {
	content: "\e0ae";
}
.icon-disk:before {
	content: "\e0af";
}
.icon-cd:before {
	content: "\e0b0";
}
.icon-storage:before {
	content: "\e0b1";
}
.icon-database:before {
	content: "\e0b2";
}
.icon-rotate:before {
	content: "\e0b3";
}
.icon-rotate-2:before {
	content: "\e0b4";
}
.icon-undo:before {
	content: "\e0b5";
}
.icon-redo:before {
	content: "\e0b6";
}
.icon-forward:before {
	content: "\e0b7";
}
.icon-reply:before {
	content: "\e0b8";
}
.icon-reply-2:before {
	content: "\e0b9";
}
.icon-bubble:before {
	content: "\e0ba";
}
.icon-bubbles:before {
	content: "\e0bb";
}
.icon-bubbles-2:before {
	content: "\e0bc";
}
.icon-bubble-2:before {
	content: "\e0bd";
}
.icon-bubbles-3:before {
	content: "\e0be";
}
.icon-bubbles-4:before {
	content: "\e0bf";
}
.icon-bubble-notification:before {
	content: "\e0c0";
}
.icon-bubbles-5:before {
	content: "\e0c1";
}
.icon-bubbles-6:before {
	content: "\e0c2";
}
.icon-bubble-3:before {
	content: "\e0c3";
}
.icon-bubble-dots:before {
	content: "\e0c4";
}
.icon-bubble-4:before {
	content: "\e0c5";
}
.icon-bubble-5:before {
	content: "\e0c6";
}
.icon-bubble-dots-2:before {
	content: "\e0c7";
}
.icon-bubble-6:before {
	content: "\e0c8";
}
.icon-bubble-7:before {
	content: "\e0c9";
}
.icon-bubble-8:before {
	content: "\e0ca";
}
.icon-bubbles-7:before {
	content: "\e0cb";
}
.icon-bubble-9:before {
	content: "\e0cc";
}
.icon-bubbles-8:before {
	content: "\e0cd";
}
.icon-bubble-10:before {
	content: "\e0ce";
}
.icon-bubble-dots-3:before {
	content: "\e0cf";
}
.icon-bubble-11:before {
	content: "\e0d0";
}
.icon-bubble-12:before {
	content: "\e0d1";
}
.icon-bubble-dots-4:before {
	content: "\e0d2";
}
.icon-bubble-13:before {
	content: "\e0d3";
}
.icon-bubbles-9:before {
	content: "\e0d4";
}
.icon-bubbles-10:before {
	content: "\e0d5";
}
.icon-bubble-blocked:before {
	content: "\e0d6";
}
.icon-bubble-quote:before {
	content: "\e0d7";
}
.icon-bubble-user:before {
	content: "\e0d8";
}
.icon-bubble-check:before {
	content: "\e0d9";
}
.icon-bubble-video-chat:before {
	content: "\e0da";
}
.icon-bubble-link:before {
	content: "\e0db";
}
.icon-bubble-locked:before {
	content: "\e0dc";
}
.icon-bubble-star:before {
	content: "\e0dd";
}
.icon-bubble-heart:before {
	content: "\e0de";
}
.icon-bubble-paperclip:before {
	content: "\e0df";
}
.icon-bubble-cancel:before {
	content: "\e0e0";
}
.icon-bubble-plus:before {
	content: "\e0e1";
}
.icon-bubble-minus:before {
	content: "\e0e2";
}
.icon-bubble-notification-2:before {
	content: "\e0e3";
}
.icon-bubble-trash:before {
	content: "\e0e4";
}
.icon-bubble-left:before {
	content: "\e0e5";
}
.icon-user:before {
	content: "\e0e6";
}
.icon-users:before {
	content: "\e0e7";
}
.icon-user-plus:before {
	content: "\e0e8";
}
.icon-user-plus-2:before {
	content: "\e0e9";
}
.icon-user-minus:before {
	content: "\e0ea";
}
.icon-user-minus-2:before {
	content: "\e0eb";
}
.icon-user-2:before {
	content: "\e0ec";
}
.icon-user-plus-3:before {
	content: "\e0ed";
}
.icon-user-minus-3:before {
	content: "\e0ee";
}
.icon-user-3:before {
	content: "\e0ef";
}
.icon-users-2:before {
	content: "\e0f0";
}
.icon-user-4:before {
	content: "\e0f1";
}
.icon-vcard:before {
	content: "\e0f2";
}
.icon-tshirt:before {
	content: "\e0f3";
}
.icon-quotes-left:before {
	content: "\e0f4";
}
.icon-quotes-right:before {
	content: "\e0f5";
}
.icon-busy:before {
	content: "\e0f6";
}
.icon-busy-2:before {
	content: "\e0f7";
}
.icon-busy-3:before {
	content: "\e0f8";
}
.icon-spinner:before {
	content: "\e0f9";
}
.icon-binoculars:before {
	content: "\e0fa";
}
.icon-binoculars-2:before {
	content: "\e0fb";
}
.icon-search:before {
	content: "\e0fc";
}
.icon-search-2:before {
	content: "\e0fd";
}
.icon-zoom-in:before {
	content: "\e0fe";
}
.icon-zoom-out:before {
	content: "\e0ff";
}
.icon-search-3:before {
	content: "\e100";
}
.icon-expand:before {
	content: "\e101";
}
.icon-contract:before {
	content: "\e102";
}
.icon-expand-2:before {
	content: "\e103";
}
.icon-contract-2:before {
	content: "\e104";
}
.icon-key:before {
	content: "\e105";
}
.icon-key-2:before {
	content: "\e106";
}
.icon-keyhole:before {
	content: "\e107";
}
.icon-lock:before {
	content: "\e108";
}
.icon-lock-2:before {
	content: "\e109";
}
.icon-wrench:before {
	content: "\e10a";
}
.icon-equalizer:before {
	content: "\e10b";
}
.icon-equalizer-2:before {
	content: "\e10c";
}
.icon-cog:before {
	content: "\e10d";
}
.icon-cogs:before {
	content: "\e10e";
}
.icon-cog-2:before {
	content: "\e10f";
}
.icon-cog-3:before {
	content: "\e110";
}
.icon-cog-4:before {
	content: "\e111";
}
.icon-factory:before {
	content: "\e112";
}
.icon-tools:before {
	content: "\e113";
}
.icon-wand:before {
	content: "\e114";
}
.icon-wand-2:before {
	content: "\e115";
}
.icon-pie:before {
	content: "\e116";
}
.icon-pie-2:before {
	content: "\e117";
}
.icon-pie-3:before {
	content: "\e118";
}
.icon-pie-4:before {
	content: "\e119";
}
.icon-pie-5:before {
	content: "\e11a";
}
.icon-pie-6:before {
	content: "\e11b";
}
.icon-pie-7:before {
	content: "\e11c";
}
.icon-stats:before {
	content: "\e11d";
}
.icon-stats-2:before {
	content: "\e11e";
}
.icon-stats-3:before {
	content: "\e11f";
}
.icon-construction:before {
	content: "\e120";
}
.icon-bug:before {
	content: "\e121";
}
.icon-aid:before {
	content: "\e122";
}
.icon-health:before {
	content: "\e123";
}
.icon-bars:before {
	content: "\e124";
}
.icon-bars-2:before {
	content: "\e125";
}
.icon-bars-3:before {
	content: "\e126";
}
.icon-bars-4:before {
	content: "\e127";
}
.icon-bars-5:before {
	content: "\e128";
}
.icon-stats-up:before {
	content: "\e129";
}
.icon-stats-down:before {
	content: "\e12a";
}
.icon-stairs-down:before {
	content: "\e12b";
}
.icon-stairs-down-2:before {
	content: "\e12c";
}
.icon-chart:before {
	content: "\e12d";
}
.icon-gift:before {
	content: "\e12e";
}
.icon-gift-2:before {
	content: "\e12f";
}
.icon-trophy:before {
	content: "\e130";
}
.icon-trophy-2:before {
	content: "\e131";
}
.icon-trophy-star:before {
	content: "\e132";
}
.icon-crown:before {
	content: "\e133";
}
.icon-glass:before {
	content: "\e134";
}
.icon-meter-slow:before {
	content: "\e135";
}
.icon-meter:before {
	content: "\e136";
}
.icon-lamp:before {
	content: "\e137";
}
.icon-lamp-2:before {
	content: "\e138";
}
.icon-magnet:before {
	content: "\e139";
}
.icon-lab:before {
	content: "\e13a";
}
.icon-lamp-3:before {
	content: "\e13b";
}
.icon-lamp-4:before {
	content: "\e13c";
}
.icon-remove:before {
	content: "\e13d";
}
.icon-remove-2:before {
	content: "\e13e";
}
.icon-remove-3:before {
	content: "\e13f";
}
.icon-remove-4:before {
	content: "\e140";
}
.icon-remove-5:before {
	content: "\e141";
}
.icon-briefcase:before {
	content: "\e142";
}
.icon-briefcase-2:before {
	content: "\e143";
}
.icon-puzzle:before {
	content: "\e144";
}
.icon-paper-plane:before {
	content: "\e145";
}
.icon-bus:before {
	content: "\e146";
}
.icon-truck:before {
	content: "\e147";
}
.icon-cube:before {
	content: "\e148";
}
.icon-cube4:before {
	content: "\e149";
}
.icon-target:before {
	content: "\e14a";
}
.icon-brain:before {
	content: "\e14b";
}
.icon-accessibility:before {
	content: "\e14c";
}
.icon-sun-glasses:before {
	content: "\e14d";
}
.icon-target-2:before {
	content: "\e14e";
}
.icon-shield:before {
	content: "\e14f";
}
.icon-shield-2:before {
	content: "\e150";
}
.icon-shield-3:before {
	content: "\e151";
}
.icon-shield-4:before {
	content: "\e152";
}
.icon-clipboard:before {
	content: "\e153";
}
.icon-clipboard-2:before {
	content: "\e154";
}
.icon-signup:before {
	content: "\e155";
}
.icon-clipboard-3:before {
	content: "\e156";
}
.icon-clipboard-4:before {
	content: "\e157";
}
.icon-cord:before {
	content: "\e158";
}
.icon-power-cord:before {
	content: "\e159";
}
.icon-switch:before {
	content: "\e15a";
}
.icon-power:before {
	content: "\e15b";
}
.icon-list:before {
	content: "\e15c";
}
.icon-list-2:before {
	content: "\e15d";
}
.icon-list-3:before {
	content: "\e15e";
}
.icon-numbered-list:before {
	content: "\e15f";
}
.icon-list-4:before {
	content: "\e160";
}
.icon-list-5:before {
	content: "\e161";
}
.icon-playlist:before {
	content: "\e162";
}
.icon-grid:before {
	content: "\e163";
}
.icon-grid-2:before {
	content: "\e164";
}
.icon-grid-3:before {
	content: "\e165";
}
.icon-grid-4:before {
	content: "\e166";
}
.icon-grid-5:before {
	content: "\e167";
}
.icon-grid-6:before {
	content: "\e168";
}
.icon-tree:before {
	content: "\e169";
}
.icon-tree-2:before {
	content: "\e16a";
}
.icon-tree-3:before {
	content: "\e16b";
}
.icon-menu:before {
	content: "\e16c";
}
.icon-menu-2:before {
	content: "\e16d";
}
.icon-cloud-download:before {
	content: "\e16e";
}
.icon-cloud-upload:before {
	content: "\e16f";
}
.icon-download-2:before {
	content: "\e170";
}
.icon-upload-2:before {
	content: "\e171";
}
.icon-download-3:before {
	content: "\e172";
}
.icon-upload-3:before {
	content: "\e173";
}
.icon-download-4:before {
	content: "\e174";
}
.icon-upload-4:before {
	content: "\e175";
}
.icon-download-5:before {
	content: "\e176";
}
.icon-upload-5:before {
	content: "\e177";
}
.icon-earth:before {
	content: "\e178";
}
.icon-network:before {
	content: "\e179";
}
.icon-link:before {
	content: "\e17a";
}
.icon-link-2:before {
	content: "\e17b";
}
.icon-anchor:before {
	content: "\e17c";
}
.icon-flag:before {
	content: "\e17d";
}
.icon-flag-2:before {
	content: "\e17e";
}
.icon-attachment:before {
	content: "\e17f";
}
.icon-eye:before {
	content: "\e180";
}
.icon-eye-blocked:before {
	content: "\e181";
}
.icon-bookmarks:before {
	content: "\e182";
}
.icon-bookmark:before {
	content: "\e183";
}
.icon-brightness-contrast:before {
	content: "\e184";
}
.icon-star:before {
	content: "\e185";
}
.icon-star-2:before {
	content: "\e186";
}
.icon-star-3:before {
	content: "\e187";
}
.icon-star-4:before {
	content: "\e188";
}
.icon-star-5:before {
	content: "\e189";
}
.icon-star-6:before {
	content: "\e18a";
}
.icon-heart:before {
	content: "\e18b";
}
.icon-heart-2:before {
	content: "\e18c";
}
.icon-heart-broken:before {
	content: "\e18d";
}
.icon-thumbs-down:before {
	content: "\e18e";
}
.icon-thumbs-down-2:before {
	content: "\e18f";
}
.icon-thumbs-up:before {
	content: "\e190";
}
.icon-thumbs-up-2:before {
	content: "\e191";
}
.icon-thumbs-up-3:before {
	content: "\e192";
}
.icon-thumbs-up-4:before {
	content: "\e193";
}
.icon-happy:before {
	content: "\e194";
}
.icon-happy-2:before {
	content: "\e195";
}
.icon-smiley:before {
	content: "\e196";
}
.icon-smiley-2:before {
	content: "\e197";
}
.icon-tongue:before {
	content: "\e198";
}
.icon-tongue-2:before {
	content: "\e199";
}
.icon-sad:before {
	content: "\e19a";
}
.icon-sad-2:before {
	content: "\e19b";
}
.icon-wink:before {
	content: "\e19c";
}
.icon-wink-2:before {
	content: "\e19d";
}
.icon-grin:before {
	content: "\e19e";
}
.icon-grin-2:before {
	content: "\e19f";
}
.icon-cool:before {
	content: "\e1a0";
}
.icon-cool-2:before {
	content: "\e1a1";
}
.icon-angry:before {
	content: "\e1a2";
}
.icon-angry-2:before {
	content: "\e1a3";
}
.icon-evil:before {
	content: "\e1a4";
}
.icon-evil-2:before {
	content: "\e1a5";
}
.icon-confused:before {
	content: "\e1a6";
}
.icon-confused-2:before {
	content: "\e1a7";
}
.icon-cursor:before {
	content: "\e1a8";
}
.icon-point-up:before {
	content: "\e1a9";
}
.icon-point-right:before {
	content: "\e1aa";
}
.icon-point-down:before {
	content: "\e1ab";
}
.icon-point-left:before {
	content: "\e1ac";
}
.icon-stack-empty:before {
	content: "\e1ad";
}
.icon-stack-picture:before {
	content: "\e1ae";
}
.icon-stack-list:before {
	content: "\e1af";
}
.icon-stack-user:before {
	content: "\e1b0";
}
.icon-move:before {
	content: "\e1b1";
}
.icon-warning:before {
	content: "\e1b2";
}
.icon-warning-2:before {
	content: "\e1b3";
}
.icon-notification:before {
	content: "\e1b6";
}
.icon-notification-2:before {
	content: "\e1b7";
}
.icon-question:before {
	content: "\e1b8";
}
.icon-question-2:before {
	content: "\e1b9";
}
.icon-question-3:before {
	content: "\e1ba";
}
.icon-question-4:before {
	content: "\e1bb";
}
.icon-question-5:before {
	content: "\e1bc";
}
.icon-plus-circle:before {
	content: "\e1bd";
}
.icon-plus-circle-2:before {
	content: "\e1be";
}
.icon-minus-circle:before {
	content: "\e1bf";
}
.icon-minus-circle-2:before {
	content: "\e1c0";
}
.icon-info:before {
	content: "\e1c1";
}
.icon-info-2:before {
	content: "\e1c2";
}
.icon-blocked:before {
	content: "\e1c3";
}
.icon-cancel-circle:before {
	content: "\e1c4";
}
.icon-cancel-circle-2:before {
	content: "\e1c5";
}
.icon-cancel:before {
	content: "\e1b4";
}
.icon-checkmark-circle:before {
	content: "\e1b5";
}
.icon-checkmark-circle-2:before {
	content: "\e1c6";
}
.icon-enter:before {
	content: "\e1c7";
}
.icon-exit:before {
	content: "\e1c8";
}
.icon-exit-2:before {
	content: "\e1c9";
}
.icon-play-2:before {
	content: "\e1ca";
}
.icon-pause:before {
	content: "\e1cb";
}
.icon-stop:before {
	content: "\e1cc";
}
.icon-backward:before {
	content: "\e1cd";
}
.icon-forward-2:before {
	content: "\e1ce";
}
.icon-play-3:before {
	content: "\e1cf";
}
.icon-pause-2:before {
	content: "\e1d0";
}
.icon-stop-2:before {
	content: "\e1d1";
}
.icon-backward-2:before {
	content: "\e1d2";
}
.icon-forward-3:before {
	content: "\e1d3";
}
.icon-first:before {
	content: "\e1d4";
}
.icon-last:before {
	content: "\e1d5";
}
.icon-previous:before {
	content: "\e1d6";
}
.icon-next:before {
	content: "\e1d7";
}
.icon-eject:before {
	content: "\e1d8";
}
.icon-volume-high:before {
	content: "\e1d9";
}
.icon-spell-check:before {
	content: "\e1da";
}
.icon-plus:before {
	content: "\e1db";
}
.icon-checkmark:before {
	content: "\e1dc";
}
.icon-checkmark-2:before {
	content: "\e1dd";
}
.icon-close:before {
	content: "\e1de";
}
.icon-arrow-up:before {
	content: "\e1df";
}
.icon-arrow-right:before {
	content: "\e1e0";
}
.icon-arrow-down:before {
	content: "\e1e1";
}
.icon-arrow-left:before {
	content: "\e1e2";
}
.icon-arrow-up-2:before {
	content: "\e1e3";
}
.icon-arrow-right-2:before {
	content: "\e1e4";
}
.icon-arrow-down-2:before {
	content: "\e1e5";
}
.icon-arrow-left-2:before {
	content: "\e1e6";
}
.icon-arrow-up-3:before {
	content: "\e1e7";
}
.icon-arrow-right-3:before {
	content: "\e1e8";
}
.icon-arrow-left-3:before {
	content: "\e1e9";
}
.icon-arrow-up-4:before {
	content: "\e1ea";
}
.icon-arrow-right-4:before {
	content: "\e1eb";
}
.icon-arrow-left-4:before {
	content: "\e1ec";
}
.icon-arrow-up-5:before {
	content: "\e1ed";
}
.icon-arrow-right-5:before {
	content: "\e1ee";
}
.icon-arrow-down-3:before {
	content: "\e1ef";
}
.icon-arrow-left-5:before {
	content: "\e1f0";
}
.icon-arrow-square:before {
	content: "\e1f1";
}
.icon-arrow-right-6:before {
	content: "\e1f2";
}
.icon-arrow-down-4:before {
	content: "\e1f3";
}
.icon-arrow-left-6:before {
	content: "\e1f4";
}
.icon-arrow-up-6:before {
	content: "\e1f5";
}
.icon-arrow-right-7:before {
	content: "\e1f6";
}
.icon-arrow-down-5:before {
	content: "\e1f7";
}
.icon-arrow-left-7:before {
	content: "\e1f8";
}
.icon-menu-3:before {
	content: "\e1f9";
}
.icon-esc:before {
	content: "\e1fa";
}
.icon-backspace:before {
	content: "\e1fb";
}
.icon-checkbox-partial:before {
	content: "\e1fc";
}
.icon-checkbox-checked:before {
	content: "\e1fd";
}
.icon-checkbox:before {
	content: "\e1fe";
}
.icon-radio-unchecked:before {
	content: "\e1ff";
}
.icon-checkbox-unchecked:before {
	content: "\e200";
}
.icon-filter:before {
	content: "\e201";
}
.icon-font:before {
	content: "\e202";
}
.icon-font-size:before {
	content: "\e203";
}
.icon-type:before {
	content: "\e204";
}
.icon-scissors:before {
	content: "\e205";
}
.icon-vector:before {
	content: "\e206";
}
.icon-scissors-2:before {
	content: "\e207";
}
.icon-paragraph-justify:before {
	content: "\e208";
}
.icon-table:before {
	content: "\e209";
}
.icon-table-2:before {
	content: "\e20a";
}
.icon-mail:before {
	content: "\e20b";
}
.icon-google-plus:before {
	content: "\e20d";
}
.icon-google-plus-2:before {
	content: "\e20e";
}
.icon-google-plus-3:before {
	content: "\e20f";
}
.icon-google-plus-4:before {
	content: "\e210";
}
.icon-facebook:before {
	content: "\e212";
}
.icon-facebook-2:before {
	content: "\e213";
}
.icon-flickr:before {
	content: "\e20c";
}
.icon-flickr-2:before {
	content: "\e211";
}
.icon-vimeo:before {
	content: "\e214";
}
.icon-vimeo2:before {
	content: "\e215";
}
.icon-vimeo-2:before {
	content: "\e216";
}
.icon-feed:before {
	content: "\e217";
}
.icon-feed-2:before {
	content: "\e218";
}
.icon-feed-3:before {
	content: "\e219";
}
.icon-twitter:before {
	content: "\e21a";
}
.icon-twitter-2:before {
	content: "\e21b";
}
.icon-twitter-3:before {
	content: "\e21c";
}
.icon-instagram:before {
	content: "\e21d";
}
.icon-facebook-3:before {
	content: "\e21e";
}
.icon-facebook-4:before {
	content: "\e21f";
}
.icon-picassa:before {
	content: "\e220";
}
.icon-picassa-2:before {
	content: "\e221";
}
.icon-dribbble:before {
	content: "\e222";
}
.icon-dribbble-2:before {
	content: "\e223";
}
.icon-forrst:before {
	content: "\e224";
}
.icon-forrst-2:before {
	content: "\e225";
}
.icon-deviantart:before {
	content: "\e226";
}
.icon-deviantart-2:before {
	content: "\e227";
}
.icon-github:before {
	content: "\e228";
}
.icon-blogger:before {
	content: "\e229";
}
.icon-tumblr:before {
	content: "\e22a";
}
.icon-windows:before {
	content: "\e22b";
}
.icon-android:before {
	content: "\e22c";
}
.icon-windows8:before {
	content: "\e22d";
}
.icon-skype:before {
	content: "\e22e";
}
.icon-lastfm:before {
	content: "\e22f";
}
.icon-lastfm-2:before {
	content: "\e230";
}
.icon-delicious:before {
	content: "\e231";
}
.icon-stumbleupon:before {
	content: "\e232";
}
.icon-stackoverflow:before {
	content: "\e233";
}
.icon-pinterest:before {
	content: "\e234";
}
.icon-pinterest-2:before {
	content: "\e235";
}
.icon-paypal:before {
	content: "\e236";
}
.icon-paypal-2:before {
	content: "\e237";
}
.icon-libreoffice:before {
	content: "\e238";
}
.icon-file-pdf:before {
	content: "\e239";
}
.icon-file-openoffice:before {
	content: "\e23a";
}
.icon-file-word:before {
	content: "\e23b";
}
.icon-file-excel:before {
	content: "\e23c";
}
.icon-yelp:before {
	content: "\e23d";
}
.icon-safari:before {
	content: "\e23e";
}
.icon-opera:before {
	content: "\e23f";
}
.icon-IE:before {
	content: "\e240";
}
.icon-firefox:before {
	content: "\e241";
}
.icon-chrome:before {
	content: "\e242";
}
.icon-html5:before {
	content: "\e243";
}
.icon-html5-2:before {
	content: "\e244";
}
.icon-file-css:before {
	content: "\e245";
}
.icon-file-xml:before {
	content: "\e246";
}
.icon-file-powerpoint:before {
	content: "\e247";
}
.icon-file-zip:before {
	content: "\e248";
}
.icon-console:before {
	content: "\e249";
}
.icon-code:before {
	content: "\e24a";
}
.icon-embed:before {
	content: "\e24b";
}
.icon-paragraph-justify-2:before {
	content: "\e24c";
}
.icon-new-tab:before {
	content: "\e24d";
}
.icon-new-tab-2:before {
	content: "\e24e";
}
.icon-pilcrow:before {
	content: "\e24f";
}
.icon-linkedin:before {
	content: "\e250";
}
.icon-reddit:before {
	content: "\e251";
}
.icon-weather-lightning:before {
	content: "\e252";
}
.icon-link-3:before {
	content: "\e253";
}
.icon-heart-3:before {
	content: "\f004";
}
.icon-star-7:before {
	content: "\f005";
}
.icon-star-empty:before {
	content: "\f006";
}
.icon-user-5:before {
	content: "\f007";
}
.icon-film-2:before {
	content: "\f008";
}
.icon-th-large:before {
	content: "\f009";
}
.icon-th:before {
	content: "\f00a";
}
.icon-th-list:before {
	content: "\f00b";
}
.icon-ok:before {
	content: "\f00c";
}
.icon-remove-6:before {
	content: "\f00d";
}
.icon-zoom-in-2:before {
	content: "\f00e";
}
.icon-zoom-out-2:before {
	content: "\f010";
}
.icon-off:before {
	content: "\f011";
}
.icon-signal:before {
	content: "\f012";
}
.icon-cog-5:before {
	content: "\f013";
}
.icon-road:before {
	content: "\f018";
}
.icon-download-alt:before {
	content: "\f019";
}
.icon-download-6:before {
	content: "\f01a";
}
.icon-upload-6:before {
	content: "\f01b";
}
.icon-inbox:before {
	content: "\f01c";
}
.icon-play-circle:before {
	content: "\f01d";
}
.icon-repeat:before {
	content: "\f01e";
}
.icon-refresh:before {
	content: "\f021";
}
.icon-list-alt:before {
	content: "\f022";
}
.icon-lock-3:before {
	content: "\f023";
}
.icon-flag-3:before {
	content: "\f024";
}
.icon-headphones-3:before {
	content: "\f025";
}
.icon-volume-off:before {
	content: "\f026";
}
.icon-volume-down:before {
	content: "\f027";
}
.icon-volume-up:before {
	content: "\f028";
}
.icon-book-2:before {
	content: "\f02d";
}
.icon-bookmark-2:before {
	content: "\f02e";
}
.icon-print-4:before {
	content: "\f02f";
}
.icon-camera-5:before {
	content: "\f030";
}
.icon-font-2:before {
	content: "\f031";
}
.icon-bold:before {
	content: "\f032";
}
.icon-italic:before {
	content: "\f033";
}
.icon-text-height:before {
	content: "\f034";
}
.icon-text-width:before {
	content: "\f035";
}
.icon-align-left:before {
	content: "\f036";
}
.icon-align-center:before {
	content: "\f037";
}
.icon-align-right:before {
	content: "\f038";
}
.icon-align-justify:before {
	content: "\f039";
}
.icon-list-6:before {
	content: "\f03a";
}
.icon-indent-left:before {
	content: "\f03b";
}
.icon-map-marker:before {
	content: "\f041";
}
.icon-adjust:before {
	content: "\f042";
}
.icon-tint:before {
	content: "\f043";
}
.icon-edit:before {
	content: "\f044";
}
.icon-share:before {
	content: "\f045";
}
.icon-check:before {
	content: "\f046";
}
.icon-move-2:before {
	content: "\f047";
}
.icon-step-backward:before {
	content: "\f048";
}
.icon-fast-backward:before {
	content: "\f049";
}
.icon-backward-3:before {
	content: "\f04a";
}
.icon-play-4:before {
	content: "\f04b";
}
.icon-pause-3:before {
	content: "\f04c";
}
.icon-stop-3:before {
	content: "\f04d";
}
.icon-forward-4:before {
	content: "\f04e";
}
.icon-fast-forward:before {
	content: "\f050";
}
.icon-plus-sign:before {
	content: "\f055";
}
.icon-minus-sign:before {
	content: "\f056";
}
.icon-remove-sign:before {
	content: "\f057";
}
.icon-ok-sign:before {
	content: "\f058";
}
.icon-question-sign:before {
	content: "\f059";
}
.icon-info-sign:before {
	content: "\f05a";
}
.icon-screenshot:before {
	content: "\f05b";
}
.icon-remove-circle:before {
	content: "\f05c";
}
.icon-ok-circle:before {
	content: "\f05d";
}
.icon-ban-circle:before {
	content: "\f05e";
}
.icon-arrow-left-8:before {
	content: "\f060";
}
.icon-arrow-right-8:before {
	content: "\f061";
}
.icon-arrow-up-7:before {
	content: "\f062";
}
.icon-arrow-down-6:before {
	content: "\f063";
}
.icon-share-alt:before {
	content: "\f064";
}
.icon-asterisk:before {
	content: "\f069";
}
.icon-exclamation-sign:before {
	content: "\f06a";
}
.icon-gift-3:before {
	content: "\f06b";
}
.icon-leaf:before {
	content: "\f06c";
}
.icon-fire:before {
	content: "\f06d";
}
.icon-eye-open:before {
	content: "\f06e";
}
.icon-eye-close:before {
	content: "\f070";
}
.icon-warning-sign:before {
	content: "\f071";
}
.icon-plane:before {
	content: "\f072";
}
.icon-calendar-6:before {
	content: "\f073";
}
.icon-random:before {
	content: "\f074";
}
.icon-comment:before {
	content: "\f075";
}
.icon-magnet-2:before {
	content: "\f076";
}
.icon-chevron-up:before {
	content: "\f077";
}
.icon-chevron-down:before {
	content: "\f078";
}
.icon-glass-2:before {
	content: "\f000";
}
.icon-music-2:before {
	content: "\f001";
}
.icon-search-4:before {
	content: "\f002";
}
.icon-envelope:before {
	content: "\f003";
}
.icon-trash:before {
	content: "\f014";
}
.icon-home-3:before {
	content: "\f015";
}
.icon-file-10:before {
	content: "\f016";
}
.icon-time:before {
	content: "\f017";
}
.icon-qrcode-2:before {
	content: "\f029";
}
.icon-barcode-2:before {
	content: "\f02a";
}
.icon-tag-3:before {
	content: "\f02b";
}
.icon-tags-3:before {
	content: "\f02c";
}
.icon-indent-right:before {
	content: "\f03c";
}
.icon-facetime-video:before {
	content: "\f03d";
}
.icon-picture:before {
	content: "\f03e";
}
.icon-pencil-4:before {
	content: "\f040";
}
.icon-step-forward:before {
	content: "\f051";
}
.icon-eject-2:before {
	content: "\f052";
}
.icon-chevron-left:before {
	content: "\f053";
}
.icon-chevron-right:before {
	content: "\f054";
}
.icon-resize-full:before {
	content: "\f065";
}
.icon-resize-small:before {
	content: "\f066";
}
.icon-plus-2:before {
	content: "\f067";
}
.icon-minus:before {
	content: "\f068";
}
.icon-comments:before {
	content: "\f086";
}
.icon-thumbs-up-5:before {
	content: "\f087";
}
.icon-thumbs-down-3:before {
	content: "\f088";
}
.icon-star-half:before {
	content: "\f089";
}
.icon-heart-empty:before {
	content: "\f08a";
}
.icon-signout:before {
	content: "\f08b";
}
.icon-linkedin-sign:before {
	content: "\f08c";
}
.icon-facebook-5:before {
	content: "\f09a";
}
.icon-github-2:before {
	content: "\f09b";
}
.icon-unlock:before {
	content: "\f09c";
}
.icon-credit-3:before {
	content: "\f09d";
}
.icon-rss:before {
	content: "\f09e";
}
.icon-hdd:before {
	content: "\f0a0";
}
.icon-bullhorn-2:before {
	content: "\f0a1";
}
.icon-tasks:before {
	content: "\f0ae";
}
.icon-filter-2:before {
	content: "\f0b0";
}
.icon-briefcase-3:before {
	content: "\f0b1";
}
.icon-fullscreen:before {
	content: "\f0b2";
}
.icon-group:before {
	content: "\f0c0";
}
.icon-link-4:before {
	content: "\f0c1";
}
.icon-cloud:before {
	content: "\f0c2";
}
.icon-magic:before {
	content: "\f0d0";
}
.icon-truck-2:before {
	content: "\f0d1";
}
.icon-pinterest-3:before {
	content: "\f0d2";
}
.icon-pinterest-sign:before {
	content: "\f0d3";
}
.icon-google-plus-sign:before {
	content: "\f0d4";
}
.icon-google-plus-5:before {
	content: "\f0d5";
}
.icon-money:before {
	content: "\f0d6";
}
.icon-dashboard:before {
	content: "\f0e4";
}
.icon-comment-alt:before {
	content: "\f0e5";
}
.icon-comments-alt:before {
	content: "\f0e6";
}
.icon-bolt:before {
	content: "\f0e7";
}
.icon-sitemap:before {
	content: "\f0e8";
}
.icon-umbrella:before {
	content: "\f0e9";
}
.icon-paste-4:before {
	content: "\f0ea";
}
.icon-hospital:before {
	content: "\f0f8";
}
.icon-ambulance:before {
	content: "\f0f9";
}
.icon-medkit:before {
	content: "\f0fa";
}
.icon-fighter-jet:before {
	content: "\f0fb";
}
.icon-beer:before {
	content: "\f0fc";
}
.icon-h-sign:before {
	content: "\f0fd";
}
.icon-plus-sign-2:before {
	content: "\f0fe";
}
.icon-retweet:before {
	content: "\f079";
}
.icon-shopping-cart:before {
	content: "\f07a";
}
.icon-folder-close:before {
	content: "\f07b";
}
.icon-folder-open-3:before {
	content: "\f07c";
}
.icon-resize-vertical:before {
	content: "\f07d";
}
.icon-resize-horizontal:before {
	content: "\f07e";
}
.icon-bar-chart:before {
	content: "\f080";
}
.icon-twitter-sign:before {
	content: "\f081";
}
.icon-facebook-sign:before {
	content: "\f082";
}
.icon-camera-retro:before {
	content: "\f083";
}
.icon-key-3:before {
	content: "\f084";
}
.icon-cogs-2:before {
	content: "\f085";
}
.icon-pushpin-2:before {
	content: "\f08d";
}
.icon-external-link:before {
	content: "\f08e";
}
.icon-signin:before {
	content: "\f090";
}
.icon-trophy-3:before {
	content: "\f091";
}
.icon-github-sign:before {
	content: "\f092";
}
.icon-upload-alt:before {
	content: "\f093";
}
.icon-lemon:before {
	content: "\f094";
}
.icon-phone-2:before {
	content: "\f095";
}
.icon-check-empty:before {
	content: "\f096";
}
.icon-bookmark-empty:before {
	content: "\f097";
}
.icon-phone-sign:before {
	content: "\f098";
}
.icon-twitter-4:before {
	content: "\f099";
}
.icon-bell-2:before {
	content: "\f0a2";
}
.icon-certificate-2:before {
	content: "\f0a3";
}
.icon-hand-right:before {
	content: "\f0a4";
}
.icon-hand-left:before {
	content: "\f0a5";
}
.icon-hand-up:before {
	content: "\f0a6";
}
.icon-hand-down:before {
	content: "\f0a7";
}
.icon-circle-arrow-left:before {
	content: "\f0a8";
}
.icon-circle-arrow-right:before {
	content: "\f0a9";
}
.icon-circle-arrow-up:before {
	content: "\f0aa";
}
.icon-circle-arrow-down:before {
	content: "\f0ab";
}
.icon-globe:before {
	content: "\f0ac";
}
.icon-wrench-2:before {
	content: "\f0ad";
}
.icon-beaker:before {
	content: "\f0c3";
}
.icon-cut:before {
	content: "\f0c4";
}
.icon-copy-5:before {
	content: "\f0c5";
}
.icon-paper-clip:before {
	content: "\f0c6";
}
.icon-save:before {
	content: "\f0c7";
}
.icon-sign-blank:before {
	content: "\f0c8";
}
.icon-reorder:before {
	content: "\f0c9";
}
.icon-list-ul:before {
	content: "\f0ca";
}
.icon-list-ol:before {
	content: "\f0cb";
}
.icon-strikethrough:before {
	content: "\f0cc";
}
.icon-underline:before {
	content: "\f0cd";
}
.icon-table-3:before {
	content: "\f0ce";
}
.icon-caret-down:before {
	content: "\f0d7";
}
.icon-caret-up:before {
	content: "\f0d8";
}
.icon-caret-left:before {
	content: "\f0d9";
}
.icon-caret-right:before {
	content: "\f0da";
}
.icon-columns:before {
	content: "\f0db";
}
.icon-sort:before {
	content: "\f0dc";
}
.icon-sort-down:before {
	content: "\f0dd";
}
.icon-sort-up:before {
	content: "\f0de";
}
.icon-envelope-alt:before {
	content: "\f0e0";
}
.icon-linkedin-2:before {
	content: "\f0e1";
}
.icon-undo-2:before {
	content: "\f0e2";
}
.icon-legal:before {
	content: "\f0e3";
}
.icon-lightbulb:before {
	content: "\f0eb";
}
.icon-exchange:before {
	content: "\f0ec";
}
.icon-cloud-download-2:before {
	content: "\f0ed";
}
.icon-cloud-upload-2:before {
	content: "\f0ee";
}
.icon-user-md:before {
	content: "\f0f0";
}
.icon-stethoscope:before {
	content: "\f0f1";
}
.icon-suitcase:before {
	content: "\f0f2";
}
.icon-bell-alt:before {
	content: "\f0f3";
}
.icon-coffee:before {
	content: "\f0f4";
}
.icon-food:before {
	content: "\f0f5";
}
.icon-file-alt:before {
	content: "\f0f6";
}
.icon-building:before {
	content: "\f0f7";
}
.icon-folder-close-alt:before {
	content: "\f114";
}
.icon-folder-open-alt:before {
	content: "\f115";
}
.icon-double-angle-left:before {
	content: "\f100";
}
.icon-double-angle-right:before {
	content: "\f101";
}
.icon-double-angle-up:before {
	content: "\f102";
}
.icon-double-angle-down:before {
	content: "\f103";
}
.icon-angle-left:before {
	content: "\f104";
}
.icon-angle-right:before {
	content: "\f105";
}
.icon-angle-up:before {
	content: "\f106";
}
.icon-angle-down:before {
	content: "\f107";
}
.icon-desktop:before {
	content: "\f108";
}
.icon-laptop-2:before {
	content: "\f109";
}
.icon-tablet-2:before {
	content: "\f10a";
}
.icon-mobile-4:before {
	content: "\f10b";
}
.icon-circle-blank:before {
	content: "\f10c";
}
.icon-quote-left:before {
	content: "\f10d";
}
.icon-quote-right:before {
	content: "\f10e";
}
.icon-spinner-2:before {
	content: "\f110";
}
.icon-circle:before {
	content: "\f111";
}
.icon-reply-3:before {
	content: "\f112";
}
.icon-github-alt:before {
	content: "\f113";
}
.icon-pawn:before {
	content: "\e254";
}
