.contentpanel(data-user-id="{{userProfile.userId._id || 'Empty'}}")
    .row
        .col-sm-3
          
          img.thumbnail.img-responsive.profile-img(ng-src='/images/{{ userProfile.image || "default-avatar.jpg" }}' , alt='')
          .mb30
          h5.subtitle About
          p.mb10.x-editable(data-type="textarea", onbeforesave="update_profile($data, $editable.name)", editable-textarea="userProfile.summary")
            | {{userProfile.summary || 'Empty'}}
          a(href='#') Show More
          .mb10        
          h5.subtitle Connect
          ul.profile-social-list
            li
              i.fa.fa-twitter
              a.x-editable(href='#', data-type="text", onbeforesave="update_profile($data, $editable.name)", editable-text="userProfile.twitter") {{userProfile.twitter || 'Empty'}}
            li
              i.fa.fa-facebook
              a.x-editable(href='#', data-type="text", onbeforesave="update_profile($data, $editable.name)", editable-text="userProfile.facebook") {{userProfile.facebook || 'Empty'}}

          .mb30
          h5.subtitle Office Address
          address.x-editable(data-type="textarea", onbeforesave="update_profile($data, $editable.name)", editable-textarea="userProfile.address", data-defaultValue="Address")
            | {{userProfile.address || 'Empty'}}
          -if (userData.account_type === 5)
            h5.subtitle State
            p.states-select(data-type="select", onbeforesave="update_profile($data, $editable.name)", editable-select="userProfile.state", e-ng-options="s for s in commons.states")
              | {{userProfile.state || 'Empty'}}
            h5.subtitle Local Govt Area
            p.lga-select(onbeforesave="update_profile($data, $editable.name)", editable-text="userProfile.lga")
              | {{userProfile.lga || 'Empty'}}
          h5.subtitle Telephone
          p.x-editable(title='Phone', data-type="text", onbeforesave="update_profile($data, $editable.name)", editable-text="userProfile.phone", data-default-value="Your Phone Number")
            | {{userProfile.phone || 'Empty'}}
          -if (userData.account_type === 5)
            h5.subtitle Contact Person
            p.x-editable(title='Phone', data-type="text", onbeforesave="update_profile($data, $editable.name)", editable-text="userProfile.contactPerson", data-default-value="Your Phone Number")
              | {{userProfile.contactPerson || 'None'}}
          -if (userData.account_type === 5)
            h5.subtitle Contact Person Phone
            p.x-editable(title='Phone', data-type="text", onbeforesave="update_profile($data, $editable.name)", editable-text="userProfile.contactPersonPhone", data-default-value="Your Phone Number")
              | {{userProfile.contactPersonPhone || 'None'}}
          -if (userData.account_type === 5)
            h5.subtitle Facility Code
            p(title='Facility Code')
              | {{userProfile.validation.facilityNoCode || 'Not Validated'}}

          -if (isPermitted(['view-profile-distributors']))
            .mb20    
            .panel.panel-default
                .panel-body
                  a(href="#")
                    | {{workForce[2].length || 0}} Distributors 
          -if (isPermitted(['view-profile-managers']))
            .mb20    
            .panel.panel-default
                .panel-body
                  a(href="#")
                    | {{workForce[1].length + workForce[3].length || 0}} Managers
          -if (isPermitted(['view-profile-staff']))
            .mb20    
            .panel.panel-default
                .panel-body
                  a(href="#")
                    | {{workForce[4].length || 0}} Staff
        //
           col-sm-3 
        .col-sm-9
          -if (userData.account_type === 5)
            .alert.alert-warning(ng-show="!userProfile.isValidated")
              p Your profile is incomplete. Please complete the facility verification process
                a.btn.btn-danger.btn-xs.pull-right(ng-click="toggleModal('activate-hospital-modal')") Start Now
          .profile-header
            h2.profile-name.x-editable(onbeforesave="update_profile($data, $editable.name)", editable-text="userProfile.name", data-type="text", data-default-value="Full Name or Company Name") {{userProfile.name || 'Empty'}}
            - if (isPermitted(['coverage']))
              .profile-location
                span(style="display: block", title="Your Coverage / Territory") 
                  i.fa.fa-map-marker
                  | Coverage
                span()
                  | {{userProfile.coverage || 'None' | territory}}
            - if (isPermitted(['employer']))
              .profile-position
                i.fa.fa-briefcase
                span.x-editable(onbeforesave="update_profile($data, $editable.name)", editable-text="userProfile.position", data-type="text", title="Position", data-default-value="Position") {{userProfile.position || 'Empty'}} 
                span(style="margin: 0 2px;") at 
                a(href="/a/organization/people/{{userProfile.employer.userId || 'Empty'}}/staff/2", data-type="text", onbeforesave="update_profile($data, $editable.name)", editable-text="userProfile.employer", title="Employer", data-default-value="Employer") {{userProfile.employer.name || 'Empty'}} 
            - if (isPermitted(['manager']))
              .profile-position
                span(style="margin: 0 2px;") under 
                a(href="/a/organization/people/{{userProfile.manager.userId || 'Empty'}}/staff/3", data-type="text", onbeforesave="update_profile($data, $editable.name)", editable-text="userProfile.employer", title="Employer", data-default-value="Employer") {{userProfile.manager.name || 'Empty'}} 
            .mb20
            - if (isPermitted(['place-order']))
              a.btn.btn-white
                i.fa.fa-envelope-o
                | Order              
            button.btn.btn-success.mr5.start-edit
              i.fa.fa-user
              | Edit Profile
            - if (isPermitted(['messaging']))
              button.btn.btn-white
                i.fa.fa-envelope-o
                | Message
          //
             profile-header 
          //
             Nav tabs 
          ul.nav.nav-tabs.nav-justified.nav-profile
            -if (isPermitted(['view-activity']))
              li.active
                a(href="#", data-target='#activities', data-toggle='tab')
                  strong Activities
            -if (isPermitted(['view-drug-pages']))
              li
                a(href="#", data-target='#drug-pages', data-toggle='tab')
                  strong Drug Pages
            -if (isPermitted(['view-calendar']))
              li
                a(href="#", data-target='#calendar', data-toggle='tab')
                  strong Calendar
            -if (isPermitted(['view-prospects']))
              li
                a(href="#", data-target='#prospects', data-toggle='tab')
                  strong Prospects
            -if (isPermitted(['view-map']))
              li
                a(href="#", data-target='#prospects', data-toggle='tab')
                  strong Map
          //
             Tab panes 
          .tab-content
            include ../widgets/profile/activity
            +loadActivities()

            include ../widgets/profile/drug-pages
            +loadDrugPages()

            include ../widgets/profile/calendar
            +loadCalendar()

            include ../widgets/profile/prospects
            +loadProspects()
            
include ../widgets/profile/activate-hospital
+activateHospital(userData.account_type)

append scripts
script(src='/js/jquery.prettyPhoto.js')
script(src='/js/holder.js')
