extends ../layouts/public

block mainbody
  section(ng-controller="userController")
      .signinpanel
          .row
            .col-md-6
              .signin-info
                .logopanel
                  h1
                    span [
                    | StocCloud
                    span ]
                //
                   logopanel 
                .mb20
                h5
                  strong Welcome to Integra StocCloud
                ul
                  li
                    i.fa.fa-arrow-circle-o-right.mr5
                    | Manage Medical Orders and Supplies
                  li
                    i.fa.fa-arrow-circle-o-right.mr5
                    | Intelligent Reporting
                  li
                    i.fa.fa-arrow-circle-o-right.mr5
                    | Real-time Medical Item Prices  
                  li
                    i.fa.fa-arrow-circle-o-right.mr5
                    | and much more...
                .mb20
                strong
                  | Not a member? 
                  a(href='/signup', target="_top") Sign Up

            .col-md-6
              include ../widgets/public/register
              +register()
append foot
  script(src="/js/modules/public.js")
  script(src="/js/modules/lang.js")
  script(src="/js/modules/order/order.js")
  script(src="/js/modules/drug/drug.js")
  script(src="/js/common/services/services.js")        