.contentpanel
  .col-md-12
    .panel.panel-default(ng-show="!orderCart || orderCart.length == 0")
        .panel-body
            | No Items in your cart

    include ../widgets/order/all-cart
    .panel.panel-default(ng-show="orderCart.length > 0")
      .panel-heading
        .panel-btns
          button.btn.btn-xs.btn-darkblue(ng-disabled="cart_meta.state") {{cart_meta.string()}}
          button.btn.btn-xs.btn-white Request Invoice
        .panel-title
      .panel-body
        +allCart()

include ../widgets/order/accept-quote-modal