.contentpanel
    .row
      p.text-center
        img(src="/images/search-icon.png", style="width: 190px")

    .row
        .col-xs-8.col-xs-offset-2
          .input-group
            .input-group-btn.search-panel
              button.btn.btn-default.dropdown-toggle(type='button', data-toggle='dropdown', )
                span#search_concept Search by
                span.caret
              ul.dropdown-menu(role='menu')
                li
                  a(href='#', ng-click="item_query.param == 'brandName'") Brand Name
                li
                  a(href='#', ng-click="item_query.param == 'composition'") Composition
                li
                  a(href='#', ng-click="item_query.param == 'manufacturer'") Manufacturer 
                li
                  a(href='#', ng-click="item_query.param == 'manufacturer'") Location 
            input.form-control(type='text', name='x', placeholder='Search term...', ng-model="item_query.s")
            span.input-group-btn
              button.btn.btn-default(type='button', ng-click="search(item_query)")
                span.glyphicon.glyphicon-search

append foot
  script(src="/js/modules/order/google-search.js")