.contentpanel
    .panel.panel-default
      .col-md-12
        .panel.panel-default()
            .panel-body
              .form-content(style="margin-bottom: 30px")
                form.form-inline(name="searchform", novalidate, ng-submit="searchcmp()")
                  .form-group
                    .col-md-5
                      input.input-large.form-control(type="search", ng-model="drugname")
                    .col-md-7
                    button.btn.btn-primary.btn-sm(type="submit") Search Hospital 
                    button.btn.btn-primary.btn-sm(type="submit") Search Supplier 
              table.table.table-hover.table-bordered(style="margin-top: 30px")
                thead
                  tr
                    th Drug Name
                    th Amount
                    th Date / Time
                    -if (userData.account_type > 2)
                      th Supplier
                    th Status
                    th Hospital
                    th 
                tbody
                  tr(ng-repeat="cmp in orders")
                    td {{cmp.itemId.itemName}}
                    td {{cmp.orderAmount}}
                    td {{cmp.orderDate | date:medium}}
                    -if (userData.account_type > 2)
                      td {{cmp.orderSupplier.supplierName}}
                    td {{cmp.orderStatus}}
                    td 
                      a(href="", ng-click="commons.href('hospital/'+cmp.hospitalId)") {{cmp.hospitalId.name}}
                    td
                      button.btn.btn-warning.btn-xs(ng-click="changeStatus($index)", ng-disabled="cmp.orderStatus == 'supplied'") Supply this      
                      button.btn.btn-danger.btn-xs(ng-click="hide_order($index)")
                        i.fa.fa-times
              .x-pagination(pagination="orders", page-to="page(pageNo, limit, cb)")
    