.contentpanel(ng-show="searchedItems")
    .row
        .col-sm-4.col-md-3
          form.form(ng-submit="search(item_query)", name="searchItemForm")
            .form-group
              input.form-control(type='text', placeholder='Search for Drugs...', ng-model="item_query.s")
            .mb20
            .form-group
              label.control-label Search by:
              select.form-control(ng-model="item_query.param", required)
                option(value="itemName") Brand Name
                option(value="sciName") Composition
                option(value="manufacturer") Manufacturer
                option(value="nafdacRegNo") NAFDAC Reg Number
              label.control-label Filter by:
              select.form-control(ng-model="item_query.filter", ng-init="item_query.filter = 'Price'")
                option Proximity
                option Price
            .form-group
              button.btn.btn-primary.btn-sm(type="submit", ng-disabled="searchItemForm.$invalid") Search
          br
        //
           col-sm-4
        .col-sm-8.col-md-9
          .panel.panel-default
            .panel-heading
              ul.pagination.nomargin.pull-right(ng-show="false")
                li.disabled
                  a(href='#')
                    i.fa.fa-angle-left
                li
                  a(href='#') 1
                li.active
                  a(href='#') 2
                li
                  a(href='#') 3
                li
                  a(href='#') 4
                li
                  a(href='#') 5
                li
                  a(href='#')
                    i.fa.fa-angle-right
              h4.panel-title Search results for {{searchedItems.s}}
              p About {{searchedItems.drug.length + searchedItems.ndl.length}} results
                a(href="#", ng-click="show_ndl = !show_ndl", ng-init="show_ndl == false")
                  | {{show_ndl | showHide}} remaining {{searchedItems.ndl.length}}
            //
               panel-heading
            .panel-body
              .item-result-list
                .media(ng-repeat="drugItem in searchedItems.drug")
                  .row
                    .col-sm-12.col-md-12
                      a.pull-left(href='#')
                        img.media-object.drug-search-img(alt='', ng-src='/images/item-images/{{drugItem.images[0] || "default/item-avatar-small.jpg"}}')
                      .media-body
                        h4.filename.text-primary {{drugItem.itemName}}
                        table.table
                          thead
                            tr
                              th Composition
                              th Manufacturer
                              th Current Price
                          tbody
                            tr
                              td {{drugItem.sciName}}
                              td {{drugItem.pharma.pharmaName}}
                              td {{drugItem.instantQuote | instantQuote }}
                  .row
                    .col-sm-4
                      span.label.label-info(style="display: inline-block")  <strong>Supplier: </strong> {{drugItem.owner.name}}
                    .col-sm-8
                      div.pull-right
                        div(style="width: 150px; float: left; margin-left: 5px", ng-show="drugItem.sentRequest == 'input'")
                          span(style="text-align: center; display: block") {{drugItem.packageQty}} \ {{drugItem.itemPackaging || '--'}}
                          span(style="text-align: center; display: block") <strong>Total items :</strong> {{drugItem.packageQty * drugItem.packageCount || 0}}
                        div(style="width: 70px; float: left; margin-left: 5px", ng-show="drugItem.sentRequest == 'input'")
                          input.form-control(type='number', ng-model="drugItem.packageCount", required, ng-init="drugItem.packageCount = 0", placeholder="number of packages")
                        div(style="float: left; margin-left: 5px")
                          button.btn.btn-default.dropdown-toggle(type='button', ng-show="!drugItem.sentRequest || drugItem.sentRequest == 'no'", ng-click="drugItem.sentRequest = 'input'; drugItem.isSendin = false")
                            | Request Quote
                        div(style="width: 150px; float: left; margin-left: 5px", ng-show="drugItem.sentRequest == 'sent'")
                          button.btn.btn-success-alt.dropdown-toggle(type='button', disabled)
                            | Request Sent
                        div(style="width: 150px; float: left; margin-left: 5px")
                          button.btn.btn-default.dropdown-toggle.pull-right(ng-click="add_to_cart(drugItem); drugItem.isSending=true", ng-show="drugItem.sentRequest == 'input'", ng-disabled="drugItem.isSending")
                            | Send Request
                        div.sr-ol(style="width: 50px; float: left; margin-left: 5px", ng-show="drugItem.sentRequest == 'input'", ng-click="drugItem.sentRequest = 'no'")
                          i.fa.fa-times-circle


              .ndl-list(ng-show="show_ndl", style="border-top: solid 1px #1489A0;padding-top: 20px;")
                .media(ng-repeat="drugItem in searchedItems.ndl")
                  a.pull-left(href='#')
                    img.media-object.drug-search-img(alt='', src='')
                  .media-body
                    h4.filename.text-primary {{drugItem.productName}}
                    small.text-muted Composition: {{drugItem.composition}}
                    br
                  .col-sm-8.col-sm-offset-5


.contentpanel(ng-hide="searchedItems")
    .row
      p.text-center
        img(src="/images/search-icon.png", style="width: 190px")

    .row
        .col-xs-8.col-xs-offset-2
          .input-group
            .input-group-btn.search-panel
              button.btn.btn-default.dropdown-toggle(type='button', data-toggle='dropdown', )
                span#search_concept Search by: {{item_query.paramName}}
                span.caret
              ul.dropdown-menu(role='menu', ng-init="item_query.param = 'itemName'; item_query.paramName = 'Brand Name'")
                li
                  a(href='', ng-click="item_query.param = 'itemName'; item_query.paramName = 'Brand Name'") Brand Name
                li
                  a(href='', ng-click="item_query.param = 'sciName'; item_query.paramName = 'Composition'") Composition
                li
                  a(href='', ng-click="item_query.param = 'manufacturer'; item_query.paramName = 'Manufacturer'") Manufacturer
                li
                  a(href='', ng-click="item_query.param = 'nafdacRegNo'; item_query.paramName = 'NAFDAC Reg Number'") NAFDAC Reg Number
            input.form-control(type='text', name='x', placeholder='Search term...', ng-model="item_query.s", autofocus)
            span.input-group-btn
              button.btn.btn-default(type='button', ng-click="search(item_query)", ng-disabled="item_query.s == 0")
                span.glyphicon.glyphicon-search

append foot
  //- script(src="/js/modules/order/google-search.js")
