.contentpanel
    .row
        include ../widgets/organization/assign-res
        +assignRes(userData.account_type)

        include ../widgets/organization/show-staff
        +showStaff()
script(src="/js/modules/organization/organize.js")