mixin loadActivities
  #activities.tab-pane.active
    .activity-list
      .media.act-media
        a.pull-left(href='#')
          img.media-object.act-thumb(src='images/photos/user1.png', alt='')
        .media-body.act-media-body
          strong New Ikeja Hospital 
          |  
          strong updated drugs list
          | .
          br
          small.text-muted Yesterday at 3:30pm

    //
       activity-list 
    button.btn.btn-white.btn-block Show More