mixin loadDrugPages()
    #drug-pages.tab-pane
      .follower-list
        .panel-heading
          btn-group.pull-right
            button.btn.btn-success-alt
              i.fa.fa-plus
              | Add
          h4 Found 0 Drugs / Medical Items
        .media
          .row
            .col-sm-8.col-md-8
              a.pull-left(href='#')
                img.media-object(src='holder.js/100x125.html', alt='')
              .media-body
                h3.follower-name Panadol
                .profile-location
                  | Paracetamol 200mg
                .profile-position
                  | Anti-headaches
                .mb20
            .col-sm-4.col-md-4
              .pull-right
                button.btn.btn-sm.btn-success.mr5
                  i.fa.fa-user
                  | View
                button.btn.btn-sm.btn-danger
                  i.fa.fa-times
            .clearfix