mixin loadDrugPages()
    #drug-pages.tab-pane
      .follower-list
        .media
          a.pull-left(href='#')
            img.media-object(src='holder.js/100x125.html', alt='')
          .media-body
            h3.follower-name Ray Sin
            .profile-location
              i.fa.fa-map-marker
              | San Francisco, California, USA
            .profile-position
              i.fa.fa-briefcase
              | Software Engineer at
              a(href='#') SomeCompany, Inc.
            .mb20
            button.btn.btn-sm.btn-success.mr5
              i.fa.fa-user
              | Follow
            button.btn.btn-sm.btn-white
              i.fa.fa-envelope-o
              | Message
        //
           media 
        .media
          a.pull-left(href='#')
            img.media-object(src='holder.js/100x125.html', alt='')
          .media-body
            h3.follower-name Weno Carasbong
            .profile-location
              i.fa.fa-map-marker
              | Cebu City, Philippines
            .profile-position
              i.fa.fa-briefcase
              | Software Engineer at
              a(href='#') ITCompany, Inc.
            .mb20
            button.btn.btn-sm.btn-primary.mr5
              i.fa.fa-check
              | Following
            button.btn.btn-sm.btn-white
              i.fa.fa-envelope-o
              | Message
        //
           media 
        .media
          a.pull-left(href='#')
            img.media-object(src='holder.js/100x125.html', alt='')
          .media-body
            h3.follower-name Nusja Nawancali
            .profile-location
              i.fa.fa-map-marker
              | Madrid, Spain
            .profile-position
              i.fa.fa-briefcase
              | CEO at
              a(href='#') SomeCompany, Inc.
            .mb20
            button.btn.btn-sm.btn-success.mr5
              i.fa.fa-user
              | Follow
            button.btn.btn-sm.btn-white
              i.fa.fa-envelope-o
              | Message
        //
           media 
        .media
          a.pull-left(href='#')
            img.media-object(src='holder.js/100x125.html', alt='')
          .media-body
            h3.follower-name Zaham Sindilmaca
            .profile-location
              i.fa.fa-map-marker
              | Bangkok, Thailand
            .profile-position
              i.fa.fa-briefcase
              | Java Developer at
              a(href='#') ITCompany, Inc.
            .mb20
            button.btn.btn-sm.btn-primary.mr5
              i.fa.fa-check
              | Following
            button.btn.btn-sm.btn-white
              i.fa.fa-envelope-o
              | Message
        //
           media 
        .media
          a.pull-left(href='#')
            img.media-object(src='holder.js/100x125.html', alt='')
          .media-body
            h3.follower-name Christopher Atam
            .profile-location
              i.fa.fa-map-marker
              | Tokyo, Japan
            .profile-position
              i.fa.fa-briefcase
              | QA Engineer at
              a(href='#') SomeCompany, Inc.
            .mb20
            button.btn.btn-sm.btn-success.mr5
              i.fa.fa-user
              | Follow
            button.btn.btn-sm.btn-white
              i.fa.fa-envelope-o
              | Message
        //
           media 
        .media
          a.pull-left(href='#')
            img.media-object(src='holder.js/100x125.html', alt='')
          .media-body
            h3.follower-name Venro Leonga
            .profile-location
              i.fa.fa-map-marker
              | Paris, France
            .profile-position
              i.fa.fa-briefcase
              | UX Designer at
              a(href='#') ITCompany, Inc.
            .mb20
            button.btn.btn-sm.btn-success.mr5
              i.fa.fa-user
              | Follow
            button.btn.btn-sm.btn-white
              i.fa.fa-envelope-o
              | Message
        //
           media 
      //
        follower-list 