mixin oneStaff(staff)
  .col-md-6
      .people-item
          .media
            a.pull-left(href='#')
              img.thumbnail.media-object(alt='', src='images/photos/user2.png')
            .media-body
              h4.person-name Ray Sin
              .text-muted
                i.fa.fa-map-marker
                | Cebu City, Philippines
              .text-muted
                i.fa.fa-briefcase
                | Software Engineer at
                a(href='#') SomeCompany, Inc.
              ul.social-list
                li
                  a.tooltips(href='#', data-toggle='tooltip', data-placement='top', title='', data-original-title='Email')
                    i.fa.fa-envelope-o
                li
                  a.tooltips(href='#', data-toggle='tooltip', data-placement='top', title='', data-original-title='Facebook')
                    i.fa.fa-facebook
                li
                  a.tooltips(href='#', data-toggle='tooltip', data-placement='top', title='', data-original-title='Twitter')
                    i.fa.fa-twitter