block body
  .row-fluid.row-break()
    .col-md-9
      .row  
        .col-md-11.offset1()
          .col-md-7
            .row
              h3 Place New Order
              form#form-new-order(name="searchform", novalidate, ng-submit="searchcmp()")
                label.control-label(for="itemtype") Drug Composition
                input.input-large.form-control(type="search", ng-model="drugcmp")
                button.btn.btn-primary(type="submit") Search Composition
              .result(ng-show="cmps.length > 0")
                table.table.table-hover.table-bordered
                  thead
                    tr
                      th Drug Name
                      th Composition
                      th Price / Packaging
                  tbody
                    tr(ng-repeat="cmp in cmps", ng-click="more($index)")
                      td {{cmp.productName}}
                      td {{cmp.composition}}
                      td {{cmp.currentPrice}}
                .x-pagination(pagination, page-to="searchcmp(pageNo, cb)")

          .col-md-4.col-md-offset-1
            .row
              #item-summary.open-summary()
                h3 Drug Summary
                div.summary
                  dl
                    dt Name
                    dd {{ds.productName}}
                    dt Composition
                    dd {{ds.composition}}
                    dt Manufacturer / Supplier
                    dd {{ds.man_imp_supp}}
                    dt Current Price
                    dd {{ds.currentPrice}}
                    dt Category
                    dd {{ds.category}}
                    dt Last Updated
                    dd {{ds.lastUpdated | date:medium}}
                    dt 
                    dd
                      button.btn.btn-mini.btn-success(ng-disabled="!ds", ng-click="orderthis()") Order this
    