extends ../layouts/session

block body
  .alert.alert-danger
    p #{message}
  .login-wrap
    .login-head
      h3 Login
    form(action="/users/session", method="post")
      .login-form
        ul
          li
            i.icon-user
            input.login-user-input(type="email", name="email" )
          li
            i.icon-key
            input.login-pass-input(type="password", name="password")
      .login-action
        button.backend-login-btn.btn.btn-block.btn-large.btn-inverse(type='submit') Login
        ul.login-initial.clearfix
          li.pull-right
            span.rem-check
              input(type='checkbox', checked='checked')
            | Remember Me

