.contentpanel
    .panel.panel-default
        .panel-heading
          .panel-btns
          h4.panel-title Add new item

        .panel-body.panel-body-nopadding
          form.form-horizontal.form-bordered(ng-submit="add_drug(add_item_form)", novalidate, name="addItemForm")
            .form-group
              label.col-sm-3.control-label Brand Name
              .col-sm-6
                input.form-control.item-name(type='text', placeholder='', ng-model="add_item_form.itemName", required, type-ahead="autoCompleteItemName(result)", name="item-name", remote='/api/internal/items/typeahead?query=%QUERY')
            .form-group
              label.col-sm-3.control-label Composition
              .col-sm-6
                input.form-control(type='text', placeholder='', ng-model="add_item_form.sciName", required)
            .form-group
              label.col-sm-3.control-label NAFDAC Reg No.
              .col-sm-6
                input.form-control(type='text', placeholder='', ng-model="add_item_form.nafdacRegNo", required)
            .form-group
              label.col-sm-3.control-label Category
              .col-sm-6
                select.form-control(type='text', placeholder='', ng-model="add_item_form.category", ng-options="c for c in itemCategory", required)
            .form-group
              label.col-sm-3.control-label Manufacturer
              .col-sm-6
                input.form-control(type='text', placeholder='', ng-model="add_item_form.pharma.pharmaName", required)
            .form-group
              label.col-sm-3.control-label Distributor
              .col-sm-6
                input.form-control(type='text', placeholder='', ng-model="add_item_form.distributor", required)

            .form-group
              label.col-sm-3.control-label Price
              .col-sm-3
                input.form-control(type='number', placeholder='', ng-model="add_item_form.currentPrice", required)
            .form-group
              label.col-sm-3.control-label Item Form
              .col-sm-3
                select.form-control(type='number', placeholder='', ng-model="add_item_form.itemForm", required)
                  option(value='?', selected='selected')
                  option Amples
                  option Caplets
                  option Capsules
                  option Cream
                  option Drops
                  option Emugels
                  option Gels
                  option Lotion
                  option Ointments
                  option Powder
                  option Sheet
                  option Solutions
                  option Sprays
                  option Suppositories
                  option Suspensions
                  option Syrup
                  option Tablets
                  option Vials                  
            .form-group
              label.col-sm-3.control-label Item Packaging
              .col-sm-3
                select.form-control(type='number', placeholder='', ng-model="add_item_form.itemPackaging", required)
                  option(value='?', selected='selected')
                  option Bags
                  option Bottles
                  option Box
                  option Carton
                  option Gallon
                  option Packet
                  option Pieces
                  option Roll
                  option Sachet
                  option Tin
                  option Tube

            .form-group
              label.col-sm-3.control-label Upload Image
              .col-sm-6.dropzone(dropzone, ng-model="add_item_form.images")
                  input(name='itemImage', type='file', multiple='multiple', style="display: none")     
                  span.help-text 
                    | Add an image for this item. You can click here or drag and drop file right here, easy!                           
            .form-group
              .col-sm-6.col-sm-offset-3
                button.btn.btn-primary(type="submit", ng-disabled="addItemForm.$invalid") Submit
                button.btn.btn-primary(type="submit", ng-disabled="addItemForm.$invalid") Submit and Add Another
                button.btn.btn-default(type="reset") Cancel
append foot
  script(src="/js/dropzone.min.js")
  