.row
  .col-md-12
    //
       SHORTCUT BAR 
    .shortcut-bar
      ul.shortcut-items
        li
          a(href='#')
            span.count-noty 02
            i.icon-screen-3
            span.shortcut-label Dashboard
        li
          a(href='#')
            i.icon-cogs
            span.shortcut-label Settings
        li
          a(href='#')
            i.icon-chart
            span.shortcut-label Statistics
        li
          a(href='#')
            i.icon-users-2
            span.shortcut-label Users
        li
          a(href='#')
            i.icon-file-8
            span.shortcut-label Content
        li
          a(href='#')
            i.icon-briefcase
            span.shortcut-label Media
        li
          a(href='#')
            i.icon-stack-list
            span.shortcut-label Task List
        li
          a(href='#')
            i.icon-folder
            span.shortcut-label Files
        li
          a(href='#')
            i.icon-coin
            span.shortcut-label Income
    .page-header
      h1
        i.icon-file-5
        | Example page header
        small Subtext for header
    ul.breadcrumb
      li
        a(href='#')
          i.icon-home
      li
        a(href='#') Library
      li.active Data
.container
.board-widget
  .row
    .col-sm-6.col-md-3
      .board-widget-wrap
        a(href='#')
          i.icon-users-2
          span.board-widget-label Users
          span.board-widget-intro  Integer eros lorem, tempor vitae... 
    .col-sm-6.col-md-3
      .board-widget-wrap
        a(href='#')
          i.icon-file-8
          span.board-widget-label Content 
          span.board-widget-intro  Vivamus lorem velit, tinci dunt... 
    .col-sm-6.col-md-3
      .board-widget-wrap
        a(href='#')
          i.icon-briefcase
          span.board-widget-label Media
          span.board-widget-intro  Nullam tincidunt quam quis erat... 
          span.count-noty 05
    .col-sm-6.col-md-3
      .board-widget-wrap
        a(href='#')
          i.icon-chart
          span.board-widget-label Statistics
          span.board-widget-intro  Vivamus mattis scelerisque auctor... 
          span.count-noty 90
.stat-board-widget
  .row
    .col-sm-6.col-md-3
      .stat-widget-wrap
        .stat-widget-container
          ul.clearfix
            li.pull-left
              span.stat-widget-icon
                i.icon-envelop-opened
            li.pull-right.stat-widget-info
              span.stat-widget-count 554
              span.stat-widget-label New Feedback
          a.btn.btn-default.btn-block.stat-btn(href='#') View All
    .col-sm-6.col-md-3
      .stat-widget-wrap
        .stat-widget-container
          ul.clearfix
            li.pull-left
              span.stat-widget-icon
                i.icon-coin
            li.pull-right.stat-widget-info
              span.stat-widget-count 3254
              span.stat-widget-label New Order
          a.btn.btn-default.btn-block.stat-btn(href='#') View All
    .col-sm-6.col-md-3
      .stat-widget-wrap
        .stat-widget-container
          ul.clearfix
            li.pull-left
              span.stat-widget-icon
                i.icon-clipboard-2
            li.pull-right.stat-widget-info
              span.stat-widget-count 453
              span.stat-widget-label New Task
          a.btn.btn-default.btn-block.stat-btn(href='#') View All
    .col-sm-6.col-md-3
      .stat-widget-wrap
        .stat-widget-container
          ul.clearfix
            li.pull-left
              span.stat-widget-icon
                i.icon-truck
            li.pull-right.stat-widget-info
              span.stat-widget-count 254
              span.stat-widget-label Order Shipped
          a.btn.btn-default.btn-block.stat-btn(href='#') View All
.graph-board-widget
  .row
    .col-sm-6.col-md-3
      .graph-widget-wrap
        .graph-widget-container
          h6 News Visits
          .mini-graph
            .sparkbar
          ul.clearfix
            li.pull-left
              span.graph-widget-icon
                i.icon-arrow-up-6
                | 10%
            li.pull-right.graph-widget-info
              span.graph-widget-label 30000
          a.btn.btn-primary.stat-btn(href='#') View All
    .col-sm-6.col-md-3
      .graph-widget-wrap
        .graph-widget-container
          h6 Page View
          .mini-graph
            .sparkline
          ul.clearfix
            li.pull-left
              span.graph-widget-icon
                i.icon-arrow-down-5
                | 10%
            li.pull-right.graph-widget-info
              span.graph-widget-label 30000
          a.btn.btn-primary.stat-btn(href='#') View All
    .col-sm-6.col-md-3
      .graph-widget-wrap
        .graph-widget-container
          h6 Unique Visits
          .mini-graph
            .sparkpie
          ul.clearfix
            li.pull-left
              span.graph-widget-icon
                i.icon-arrow-up-6
                | 10%
            li.pull-right.graph-widget-info
              span.graph-widget-label 30000
          a.btn.btn-primary.stat-btn(href='#') View All
    .col-sm-6.col-md-3
      .graph-widget-wrap
        .graph-widget-container
          h6 Transactions
          .mini-graph
            .line-min-chart
          ul.clearfix
            li.pull-left
              span.graph-widget-icon
                i.icon-arrow-up-6
                | 10%
            li.pull-right.graph-widget-info
              span.graph-widget-label 30000
          a.btn.btn-primary.stat-btn(href='#') View All
.row
  .col-sm-3.col-md-2
    .item-block
      .icon-block.orange-block
        span.item-icon
          span.contact_sl
            a(href='#')
              i.icon-envelop-opened
      h3 10
      p
        | Messages
  .col-sm-3.col-md-2
    .item-block
      .icon-block.tur-block
        span.item-icon
          span.contact_sl
            a(href='#')
              i.icon-coin
      h3 $354
      p
        | Credits
  .col-sm-3.col-md-2
    .item-block
      .icon-block.brown-block
        span.item-icon
          span.contact_sl
            a(href='#')
              i.icon-cart-2
      h3 100
      p
        | New Order
  .col-sm-3.col-md-2
    .item-block
      .icon-block.gray-block
        span.item-icon
          span.contact_sl
            a(href='#')
              i.icon-support
      h3 240
      p
        | Support Tickets
  .col-sm-3.col-md-2
    .item-block
      .icon-block.green-block
        span.item-icon
          span.contact_sl
            a(href='#')
              i.icon-file-5
      h3 120
      p
        | Articles
  .col-sm-3.col-md-2
    .item-block
      .icon-block.blue-block
        span.item-icon
          span
            a(href='#')
              i.icon-file-alt
      h3 60
      p
        | Pages
.row
  .col-md-6.widget-module
    .square-widget.widget-collapsible
      .widget-head.clearfix
        h4.pull-left
          i.icon-user
          | Recent Users
        span.pull-right.widget-action
          a.widget-collapse(href='#')
            i.icon-arrow-down
          a.widget-remove(href='#')
            i.icon-remove-sign
      .widget-container
        .users-lists
          .widget-search-bar.clearfix
            .pull-left
              form.form-search
                .input-group
                  input.form-control(type='text')
                  span.input-group-btn
                    button.btn.btn-default(type='button') Go!
            .pull-right
              a(href='#') View All
          .support-ticket-scroll
            .elements-wrap.clearfix
              .user-thumbnil
                a(href='#')
                  img(src='images/user-thumb1.png', width='40', height='40', alt='user')
              .element-content
                ul
                  li
                    | Name:
                    a(href='#') Jaman
                  li IP: 192.168.1.1
                  li User Type: Paid, Package Name:Gold
              .btn-toolbar.clearfix
                .btn-group.pull-left
                  button.btn.btn-mini.btn-primary
                    i.icon-pencil-2
                    | Edit
                  button.btn.btn-mini.btn-danger
                    i.icon-remove-2
                    | Delete
                  button.btn.btn-mini.btn-inverse
                    i.icon-remove-sign
                    | Suspend
                .btn-group.pull-right
                  button.btn.btn-mini.btn-success
                    i.icon-ok
                    | Approved
            .elements-wrap.clearfix
              .user-thumbnil
                a(href='#')
                  img(src='images/user-thumb2.png', width='40', height='40', alt='user')
              .element-content
                ul
                  li
                    | Name:
                    a(href='#') Jaman
                  li IP: 192.168.1.1
                  li User Type: Paid, Package Name:Gold
              .btn-toolbar.clearfix
                .btn-group.pull-left
                  button.btn.btn-mini.btn-primary
                    i.icon-pencil-2
                    | Edit
                  button.btn.btn-mini.btn-danger
                    i.icon-remove-2
                    | Delete
                  button.btn.btn-mini.btn-inverse
                    i.icon-remove-sign
                    | Suspend
                .btn-group.pull-right
                  button.btn.btn-mini.btn-success
                    i.icon-ok
                    | Approved
            .elements-wrap.clearfix
              .user-thumbnil
                a(href='#')
                  img(src='images/user-thumb3.png', width='40', height='40', alt='user')
              .element-content
                ul
                  li
                    | Name:
                    a(href='#') Jaman
                  li IP: 192.168.1.1
                  li User Type: Paid, Package Name:Gold
              .btn-toolbar.clearfix
                .btn-group.pull-left
                  button.btn.btn-mini.btn-primary
                    i.icon-pencil-2
                    | Edit
                  button.btn.btn-mini.btn-danger
                    i.icon-remove-2
                    | Delete
                  button.btn.btn-mini.btn-inverse
                    i.icon-remove-sign
                    | Suspend
                .btn-group.pull-right
                  button.btn.btn-mini.btn-success
                    i.icon-ok
                    | Approved
            .elements-wrap.clearfix
              .user-thumbnil
                a(href='#')
                  img(src='images/user-thumb4.png', width='40', height='40', alt='user')
              .element-content
                ul
                  li
                    | Name:
                    a(href='#') Jaman
                  li IP: 192.168.1.1
                  li User Type: Paid, Package Name:Gold
              .btn-toolbar.clearfix
                .btn-group.pull-left
                  button.btn.btn-mini.btn-primary
                    i.icon-pencil-2
                    | Edit
                  button.btn.btn-mini.btn-danger
                    i.icon-remove-2
                    | Delete
                  button.btn.btn-mini.btn-inverse
                    i.icon-remove-sign
                    | Suspend
                .btn-group.pull-right
                  button.btn.btn-mini.btn-success
                    i.icon-ok
                    | Approved
            .elements-wrap.clearfix
              .user-thumbnil
                a(href='#')
                  img(src='images/user-thumb5.png', width='40', height='40', alt='user')
              .element-content
                ul
                  li
                    | Name:
                    a(href='#') Jaman
                  li IP: 192.168.1.1
                  li User Type: Paid, Package Name:Gold
              .btn-toolbar.clearfix
                .btn-group.pull-left
                  button.btn.btn-mini.btn-primary
                    i.icon-pencil-2
                    | Edit
                  button.btn.btn-mini.btn-danger
                    i.icon-remove-2
                    | Delete
                  button.btn.btn-mini.btn-inverse
                    i.icon-remove-sign
                    | Suspend
                .btn-group.pull-right
                  button.btn.btn-mini.btn-success
                    i.icon-ok
                    | Approved
            .elements-wrap.clearfix
              .user-thumbnil
                a(href='#')
                  img(src='images/user-thumb6.png', width='40', height='40', alt='user')
              .element-content
                ul
                  li
                    | Name:
                    a(href='#') Jaman
                  li IP: 192.168.1.1
                  li User Type: Paid, Package Name:Gold
              .btn-toolbar.clearfix
                .btn-group.pull-left
                  button.btn.btn-mini.btn-primary
                    i.icon-pencil-2
                    | Edit
                  button.btn.btn-mini.btn-danger
                    i.icon-remove-2
                    | Delete
                  button.btn.btn-mini.btn-inverse
                    i.icon-remove-sign
                    | Suspend
                .btn-group.pull-right
                  button.btn.btn-mini.btn-success
                    i.icon-ok
                    | Approved
          .widge-bottom-bar
            .pagination-centered
              ul.pagination
                li.disabled
                  a(href='#') «
                li.active
                  a(href='#') 1
                li
                  a(href='#') 2
                li
                  a(href='#') 3
                li
                  a(href='#') 4
                li
                  a(href='#') 5
                li
                  a(href='#') »
  .col-md-6.widget-module
    .square-widget.widget-collapsible
      .widget-head.clearfix
        h4.pull-left
          i.icon-file
          | Recent Post
        span.pull-right.widget-action
          a.widget-collapse(href='#')
            i.icon-arrow-down
          a.widget-remove(href='#')
            i.icon-remove-sign
      .widget-container
        table.table.responsive
          thead
            tr
              th
                | Id
              th
                | Details
              th
                | Submit Date
              th
                | Submited By
              th
                | Status
              th
                | Publish Date
              th
                | Action
          tbody
            tr
              td
                a(href='#') 01
              td
                a(href='#') Pellentesque ut massa ut ligula ... 
              td
                | 1st MAY 2013
              td
                | Jaman
              td
                span.label.label-success Publish
              td
                | 3rd MAY 2013
              td.action-bar
                a.btn.btn-mini.btn-primary(href='#', title='Edit')
                  i.icon-pencil-2
                a.btn.btn-mini.btn-danger(href='#', title='Edit')
                  i.icon-remove-2
                a.btn.btn-mini.btn-success(href='#', title='Edit')
                  i.icon-ok
            tr
              td
                a(href='#') 02
              td
                a(href='#') Nulla non ante dui, sit amet ... 
              td
                | 1st MAY 2013
              td
                | Jhon
              td
                span.label.label-success Publish
              td
                | 3rd MAY 2013
              td.action-bar
                a.btn.btn-mini.btn-primary(href='#', title='Edit')
                  i.icon-pencil-2
                a.btn.btn-mini.btn-danger(href='#', title='Edit')
                  i.icon-remove-2
                a.btn.btn-mini.btn-success(href='#', title='Edit')
                  i.icon-ok
            tr
              td
                a(href='#') 03
              td
                a(href='#') Aliquam eu pellentesque... 
              td
                | 1st MAY 2013
              td
                | Mike
              td
                span.label.label-success Publish
              td
                | 3rd MAY 2013
              td.action-bar
                a.btn.btn-mini.btn-primary(href='#', title='Edit')
                  i.icon-pencil-2
                a.btn.btn-mini.btn-danger(href='#', title='Edit')
                  i.icon-remove-2
                a.btn.btn-mini.btn-success(href='#', title='Edit')
                  i.icon-ok
            tr
              td
                a(href='#') 04
              td
                a(href='#') Maecenas egestas alique... 
              td
                | 1st MAY 2013
              td
                | Sam
              td
                span.label.label-warning Pending
              td
                | -
              td.action-bar
                a.btn.btn-mini.btn-primary(href='#', title='Edit')
                  i.icon-pencil-2
                a.btn.btn-mini.btn-danger(href='#', title='Edit')
                  i.icon-remove-2
                a.btn.btn-mini.btn-success(href='#', title='Edit')
                  i.icon-ok
            tr
              td
                a(href='#') 01
              td
                a(href='#') Pellentesque ut massa ut ligula ... 
              td
                | 1st MAY 2013
              td
                | Jaman
              td
                span.label.label-success Publish
              td
                | 3rd MAY 2013
              td.action-bar
                a.btn.btn-mini.btn-primary(href='#', title='Edit')
                  i.icon-pencil-2
                a.btn.btn-mini.btn-danger(href='#', title='Edit')
                  i.icon-remove-2
                a.btn.btn-mini.btn-success(href='#', title='Edit')
                  i.icon-ok
            tr
              td
                a(href='#') 02
              td
                a(href='#') Nulla non ante dui, sit amet ... 
              td
                | 1st MAY 2013
              td
                | Jhon
              td
                span.label.label-success Publish
              td
                | 3rd MAY 2013
              td.action-bar
                a.btn.btn-mini.btn-primary(href='#', title='Edit')
                  i.icon-pencil-2
                a.btn.btn-mini.btn-danger(href='#', title='Edit')
                  i.icon-remove-2
                a.btn.btn-mini.btn-success(href='#', title='Edit')
                  i.icon-ok
.row
  .col-md-6.widget-module
    .square-widget.widget-collapsible
      .widget-head.clearfix
        h4.pull-left
          i.icon-location
          | Geo Map
        span.pull-right.widget-action
          a.widget-collapse(href='#')
            i.icon-arrow-down
          a.widget-remove(href='#')
            i.icon-remove-sign
      .widget-container
        #chart_div
  .col-md-6
    .box-widget.widget-module
      .widget-head.clearfix
        span.h-icon
          i.icon-user
        h4.pull-left Recent Users
        .pull-right.widget-action
          ul
            li
              a.widget-collapse(href='#')
                i.icon-arrow-down
            li
              a.widget-remove(href='#')
                i.icon-remove-sign
      .widget-container
        .widget-block
          .widget-content
            //
              box-spacing define 20px padding for all content here
            .users-lists
              .widget-search-bar.clearfix
                .pull-left
                  form.form-search
                    .input-group
                      input.form-control(type='text')
                      span.input-group-btn
                        button.btn.btn-default(type='button') Go!
                .pull-right
                  a(href='#') View All
              .recent-users-scroll
                .elements-wrap.clearfix
                  .user-thumbnil
                    a(href='#')
                      img(src='images/user-thumb7.png', width='40', height='40', alt='user')
                  .element-content
                    ul
                      li
                        | Name:
                        a(href='#') Jaman
                      li IP: 192.168.1.1
                      li User Type: Paid, Package Name:Gold
                  .btn-toolbar.clearfix
                    .btn-group.pull-left
                      button.btn.btn-mini.btn-primary
                        i.icon-pencil-2
                        | Edit
                      button.btn.btn-mini.btn-danger
                        i.icon-remove-2
                        | Delete
                      button.btn.btn-mini.btn-inverse
                        i.icon-remove-sign
                        | Suspend
                    .btn-group.pull-right
                      button.btn.btn-mini.btn-success
                        i.icon-ok
                        | Approved
                .elements-wrap.clearfix
                  .user-thumbnil
                    a(href='#')
                      img(src='images/user-thumb1.png', width='40', height='40', alt='user')
                  .element-content
                    ul
                      li
                        | Name:
                        a(href='#') Jaman
                      li IP: 192.168.1.1
                      li User Type: Paid, Package Name:Gold
                  .btn-toolbar.clearfix
                    .btn-group.pull-left
                      button.btn.btn-mini.btn-primary
                        i.icon-pencil-2
                        | Edit
                      button.btn.btn-mini.btn-danger
                        i.icon-remove-2
                        | Delete
                      button.btn.btn-mini.btn-inverse
                        i.icon-remove-sign
                        | Suspend
                    .btn-group.pull-right
                      button.btn.btn-mini.btn-success
                        i.icon-ok
                        | Approved
                .elements-wrap.clearfix
                  .user-thumbnil
                    a(href='#')
                      img(src='images/user-thumb2.png', width='40', height='40', alt='user')
                  .element-content
                    ul
                      li
                        | Name:
                        a(href='#') Jaman
                      li IP: 192.168.1.1
                      li User Type: Paid, Package Name:Gold
                  .btn-toolbar.clearfix
                    .btn-group.pull-left
                      button.btn.btn-mini.btn-primary
                        i.icon-pencil-2
                        | Edit
                      button.btn.btn-mini.btn-danger
                        i.icon-remove-2
                        | Delete
                      button.btn.btn-mini.btn-inverse
                        i.icon-remove-sign
                        | Suspend
                    .btn-group.pull-right
                      button.btn.btn-mini.btn-success
                        i.icon-ok
                        | Approved
                .elements-wrap.clearfix
                  .user-thumbnil
                    a(href='#')
                      img(src='images/user-thumb3.png', width='40', height='40', alt='user')
                  .element-content
                    ul
                      li
                        | Name:
                        a(href='#') Jaman
                      li IP: 192.168.1.1
                      li User Type: Paid, Package Name:Gold
                  .btn-toolbar.clearfix
                    .btn-group.pull-left
                      button.btn.btn-mini.btn-primary
                        i.icon-pencil-2
                        | Edit
                      button.btn.btn-mini.btn-danger
                        i.icon-remove-2
                        | Delete
                      button.btn.btn-mini.btn-inverse
                        i.icon-remove-sign
                        | Suspend
                    .btn-group.pull-right
                      button.btn.btn-mini.btn-success
                        i.icon-ok
                        | Approved
                .elements-wrap.clearfix
                  .user-thumbnil
                    a(href='#')
                      img(src='images/user-thumb4.png', width='40', height='40', alt='user')
                  .element-content
                    ul
                      li
                        | Name:
                        a(href='#') Jaman
                      li IP: 192.168.1.1
                      li User Type: Paid, Package Name:Gold
                  .btn-toolbar.clearfix
                    .btn-group.pull-left
                      button.btn.btn-mini.btn-primary
                        i.icon-pencil-2
                        | Edit
                      button.btn.btn-mini.btn-danger
                        i.icon-remove-2
                        | Delete
                      button.btn.btn-mini.btn-inverse
                        i.icon-remove-sign
                        | Suspend
                    .btn-group.pull-right
                      button.btn.btn-mini.btn-success
                        i.icon-ok
                        | Approved
              .widge-bottom-bar
                .pagination-centered
                  ul.pagination
                    li.disabled
                      a(href='#') «
                    li.active
                      a(href='#') 1
                    li
                      a(href='#') 2
                    li
                      a(href='#') 3
                    li
                      a(href='#') 4
                    li
                      a(href='#') 5
                    li
                      a(href='#') »
.row
  .col-md-12.widget-module
    .box-widget
      .widget-head.clearfix
        span.h-icon
          i.icon-user
        h4.pull-left Recent Users
        .pull-right.widget-action
          ul
            li
              a.widget-collapse(href='#')
                i.icon-arrow-down
            li
              a.widget-remove(href='#')
                i.icon-remove-sign
      .widget-container
        .widget-block
          .widget-content
            //
              box-spacing define 20px padding for all content here
            table.table.responsive
              thead
                tr
                  th
                    | User Name
                  th
                    | Name
                  th
                    | Address
                  th
                    | Email
                  th
                    | Thumb
                  th
                    | Status
                  th
                    | Action
              tbody
                tr
                  td
                    a(href='#') Jhon
                  td
                    a(href='#') Jhon Doe
                  td
                    | Address Line
                  td
                    | jhon@hostname.com
                  td
                    .user-thumb
                      a(href='#')
                        img(height='40', width='40', alt='User', src='images/user-thumb1.png')
                  td
                    span.label.label-info New
                    span.label.label-warning Pending
                  td.action-bar
                    a.btn.btn-mini.btn-primary(href='#', title='Edit')
                      i.icon-pencil-2
                    a.btn.btn-mini.btn-danger(href='#', title='Edit')
                      i.icon-remove-2
                    a.btn.btn-mini.btn-success(href='#', title='Edit')
                      i.icon-ok
                tr
                  td
                    a(href='#') Jaman
                  td
                    a(href='#') Ui Jaman
                  td
                    | Address Line
                  td
                    | jaman@hostname.com
                  td
                    .user-thumb
                      a(href='#')
                        img(height='40', width='40', alt='User', src='images/user-thumb2.png')
                  td
                    span.label.label-danger Suspended
                  td.action-bar
                    a.btn.btn-mini.btn-primary(href='#', title='Edit')
                      i.icon-pencil-2
                    a.btn.btn-mini.btn-danger(href='#', title='Edit')
                      i.icon-remove-2
                    a.btn.btn-mini.btn-success(href='#', title='Edit')
                      i.icon-ok
.row
  .col-md-12.widget-module
    .box-widget
      .widget-head.clearfix
        span.h-icon
          i.icon-file
        h4.pull-left Recent Post
        .pull-right.widget-action
          ul
            li
              a.widget-collapse(href='#')
                i.icon-arrow-down
            li
              a.widget-remove(href='#')
                i.icon-remove-sign
      .widget-container
        .widget-block
          .widget-content
            //
              box-spacing define 20px padding for all content here
            table.table.responsive
              thead
                tr
                  th
                    | Id
                  th
                    | Details
                  th
                    | Submit Date
                  th
                    | Submited By
                  th
                    | Status
                  th
                    | Publish Date
                  th
                    | Action
              tbody
                tr
                  td
                    a(href='#') 01
                  td
                    a(href='#') Pellentesque ut massa ut ligula ... 
                  td
                    | 1st MAY 2013
                  td
                    | Jaman
                  td
                    span.label.label-success Publish
                  td
                    | 3rd MAY 2013
                  td.action-bar
                    a.btn.btn-mini.btn-primary(href='#', title='Edit')
                      i.icon-pencil-2
                    a.btn.btn-mini.btn-danger(href='#', title='Edit')
                      i.icon-remove-2
                    a.btn.btn-mini.btn-success(href='#', title='Edit')
                      i.icon-ok
                tr
                  td
                    a(href='#') 02
                  td
                    a(href='#') Nulla non ante dui, sit amet ... 
                  td
                    | 1st MAY 2013
                  td
                    | Jhon
                  td
                    span.label.label-success Publish
                  td
                    | 3rd MAY 2013
                  td.action-bar
                    a.btn.btn-mini.btn-primary(href='#', title='Edit')
                      i.icon-pencil-2
                    a.btn.btn-mini.btn-danger(href='#', title='Edit')
                      i.icon-remove-2
                    a.btn.btn-mini.btn-success(href='#', title='Edit')
                      i.icon-ok
                tr
                  td
                    a(href='#') 03
                  td
                    a(href='#') Aliquam eu pellentesque... 
                  td
                    | 1st MAY 2013
                  td
                    | Mike
                  td
                    span.label.label-success Publish
                  td
                    | 3rd MAY 2013
                  td.action-bar
                    a.btn.btn-mini.btn-primary(href='#', title='Edit')
                      i.icon-pencil-2
                    a.btn.btn-mini.btn-danger(href='#', title='Edit')
                      i.icon-remove-2
                    a.btn.btn-mini.btn-success(href='#', title='Edit')
                      i.icon-ok
                tr
                  td
                    a(href='#') 04
                  td
                    a(href='#') Maecenas egestas alique... 
                  td
                    | 1st MAY 2013
                  td
                    | Sam
                  td
                    span.label.label-warning Pending
                  td
                    | -
                  td.action-bar
                    a.btn.btn-mini.btn-primary(href='#', title='Edit')
                      i.icon-pencil-2
                    a.btn.btn-mini.btn-danger(href='#', title='Edit')
                      i.icon-remove-2
                    a.btn.btn-mini.btn-success(href='#', title='Edit')
                      i.icon-ok
.row
  .col-md-6.widget-module
    .box-widget
      .widget-head.clearfix
        span.h-icon
          i.icon-support
        h4.pull-left Support Tickets
        .pull-right.widget-action
          ul
            li
              a.widget-collapse(href='#')
                i.icon-arrow-down
            li
              a.widget-remove(href='#')
                i.icon-remove-sign
      .widget-container
        .widget-block
          .widget-content
            //
              box-spacing define 20px padding for all content here
            .users-lists
              .widget-search-bar.clearfix
                .pull-left
                  form.form-search
                    .input-group
                      input.form-control(type='text')
                      span.input-group-btn
                        button.btn.btn-default(type='button') Go!
                .pull-right
                  a(href='#') View All
              .elements-wrap.clearfix
                .user-thumbnil
                  img(src='images/user-thumb1.png', width='40', height='40', alt='user')
                .element-content
                  ul
                    li
                      span.user-info
                        | User:
                        a(href='#') kjaman
                        | on IP: 192.118.1.1
                        b ID #12467RS
                    li
                      a(href='#')
                        | Suspendisse convallis laoreet lectus in aliquam. Vivamus quis elit nisl, ut posuere leo.
                .btn-toolbar.clearfix
                  .btn-group.pull-left
                    button.btn.btn-mini.btn-primary
                      i.icon-reply
                      | Reply
                    button.btn.btn-mini.btn-inverse
                      i.icon-forward
                      | Forward
                  .btn-group.pull-right
                    button.btn.btn-mini.btn-success
                      i.icon-ok
                      | Resolved
              .widge-bottom-bar
                .pagination-centered
                  ul.pagination
                    li.disabled
                      a(href='#') «
                    li.active
                      a(href='#') 1
                    li
                      a(href='#') 2
                    li
                      a(href='#') 3
                    li
                      a(href='#') 4
                    li
                      a(href='#') 5
                    li
                      a(href='#') »
  .col-md-6.widget-module
    .box-widget
      .widget-head.clearfix
        span.h-icon
          i.icon-file-10
        h4.pull-left Recent Posts
        .pull-right.widget-action
          ul
            li
              a.widget-collapse(href='#')
                i.icon-arrow-down
            li
              a.widget-remove(href='#')
                i.icon-remove-sign
      .widget-container
        .widget-block
          .widget-content
            //
              box-spacing define 20px padding for all content here
            .users-lists
              .widget-search-bar.clearfix
                .pull-left
                  form.form-search
                    .input-group
                      input.form-control(type='text')
                      span.input-group-btn
                        button.btn.btn-default(type='button') Go!
                .pull-right
                  a(href='#') View All
              .elements-wrap.clearfix
                .user-thumbnil
                  img(src='images/user-thumb1.png', width='40', height='40', alt='user')
                .element-content
                  ul
                    li.element-meta
                      span
                        | Posted By:
                        a(href='#') Joe Smith
                      span Date: 30th April 2013
                      span
                        | Total Post:
                        a(href='#') 30
                    li
                      a(href='#')
                        | Suspendisse convallis laoreet lectus in aliquam. Vivamus quis elit nisl, ut posuere leo.
                .btn-toolbar.clearfix
                  .btn-group.pull-left
                    button.btn.btn-mini.btn-primary
                      i.icon-pencil-2
                      | Edit
                    button.btn.btn-mini.btn-danger
                      i.icon-remove-2
                      | Delete
                    button.btn.btn-mini.btn-inverse
                      i.icon-remove-sign
                      | Reject
                  .btn-group.pull-right
                    button.btn.btn-mini.btn-success
                      i.icon-ok
                      | Approved
              .widge-bottom-bar
                .pagination-centered
                  ul.pagination
                    li.disabled
                      a(href='#') «
                    li.active
                      a(href='#') 1
                    li
                      a(href='#') 2
                    li
                      a(href='#') 3
                    li
                      a(href='#') 4
                    li
                      a(href='#') 5
                    li
                      a(href='#') »
.row
  .col-md-12
    table.table.table-bordered.table-striped.responsive
      thead
        tr
          th
            | Button
          th
            | class=""
          th
            | Description
      tbody
        tr
          td
            button.btn(type='button') Default
          td
            code btn
          td
            | Standard gray button with gradient
        tr
          td
            button.btn.btn-primary(type='button') Primary
          td
            code btn btn-primary
          td
            | Provides extra visual weight and identifies the primary action in a set of buttons
        tr
          td
            button.btn.btn-info(type='button') Info
          td
            code btn btn-info
          td
            | Used as an alternative to the default styles
        tr
          td
            button.btn.btn-success(type='button') Success
          td
            code btn btn-success
          td
            | Indicates a successful or positive action
        tr
          td
            button.btn.btn-warning(type='button') Warning
          td
            code btn btn-warning
          td
            | Indicates caution should be taken with this action
        tr
          td
            button.btn.btn-danger(type='button') Danger
          td
            code btn btn-danger
          td
            | Indicates a dangerous or potentially negative action
        tr
          td
            button.btn.btn-inverse(type='button') Inverse
          td
            code btn btn-inverse
          td
            | Alternate dark gray button, not tied to a semantic action or use
        tr
          td
            button.btn.btn-link(type='button') Link
          td
            code btn btn-link
          td
            | Deemphasize a button by making it look like a link while maintaining button behavior
