.row
  .col-md-12
    .page-header
      h1
        | Dashboard
.container

.stat-board-widget
  .row
    .col-sm-6.col-md-3
      .stat-widget-wrap
        .stat-widget-container
          ul.clearfix
            li.pull-left
              span.stat-widget-icon
                i.icon-envelop-opened
            li.pull-right.stat-widget-info
              span.stat-widget-count 554
              span.stat-widget-label New Feedback
          a.btn.btn-default.btn-block.stat-btn(href='#') View All
    .col-sm-6.col-md-3
      .stat-widget-wrap
        .stat-widget-container
          ul.clearfix
            li.pull-left
              span.stat-widget-icon
                i.icon-coin
            li.pull-right.stat-widget-info
              span.stat-widget-count 3254
              span.stat-widget-label New Orders
          a.btn.btn-default.btn-block.stat-btn(href='#') View All
    .col-sm-6.col-md-3
      .stat-widget-wrap
        .stat-widget-container
          ul.clearfix
            li.pull-left
              span.stat-widget-icon
                i.icon-clipboard-2
            li.pull-right.stat-widget-info
              span.stat-widget-count 453
              span.stat-widget-label New Task
          a.btn.btn-default.btn-block.stat-btn(href='#') View All
    .col-sm-6.col-md-3
      .stat-widget-wrap
        .stat-widget-container
          ul.clearfix
            li.pull-left
              span.stat-widget-icon
                i.icon-truck
            li.pull-right.stat-widget-info
              span.stat-widget-count 254
              span.stat-widget-label Order Shipped
          a.btn.btn-default.btn-block.stat-btn(href='#') View All
.row
  .col-md-12.widget-module
    .box-widget
      .widget-head.clearfix
        span.h-icon
          i.icon-user
        h4.pull-left Hospitals
        .pull-right.widget-action
          ul
            li
              a.widget-collapse(href='#')
                i.icon-arrow-down
            li
              a.widget-remove(href='#')
                i.icon-remove-sign
      .widget-container
        .widget-block
          .widget-content
            //
              box-spacing define 20px padding for all content here
            table.table.responsive
              thead
                tr
                  th
                    | User Name
                  th
                    | Name
                  th
                    | Address
                  th
                    | Email
                  th
                    | Thumb
                  th
                    | Status
                  th
                    | Action
              tbody
                tr
                  td
                    a(href='#') Jhon
                  td
                    a(href='#') Jhon Doe
                  td
                    | Address Line
                  td
                    | jhon@hostname.com
                  td
                    .user-thumb
                      a(href='#')
                        img(height='40', width='40', alt='User', src='images/user-thumb1.png')
                  td
                    span.label.label-info New
                    span.label.label-warning Pending
                  td.action-bar
                    a.btn.btn-mini.btn-primary(href='#', title='Edit')
                      i.icon-pencil-2
                    a.btn.btn-mini.btn-danger(href='#', title='Edit')
                      i.icon-remove-2
                    a.btn.btn-mini.btn-success(href='#', title='Edit')
                      i.icon-ok
                tr
                  td
                    a(href='#') Jaman
                  td
                    a(href='#') Ui Jaman
                  td
                    | Address Line
                  td
                    | jaman@hostname.com
                  td
                    .user-thumb
                      a(href='#')
                        img(height='40', width='40', alt='User', src='images/user-thumb2.png')
                  td
                    span.label.label-danger Suspended
                  td.action-bar
                    a.btn.btn-mini.btn-primary(href='#', title='Edit')
                      i.icon-pencil-2
                    a.btn.btn-mini.btn-danger(href='#', title='Edit')
                      i.icon-remove-2
                    a.btn.btn-mini.btn-success(href='#', title='Edit')
                      i.icon-ok

