mixin allDrugs()
  .table-responsive
    table.table.table-bordered.mb30
      thead
        tr
          th DrugName
          th Composition
          th RegNo
          th Current Price
          th
      tbody
        tr(ng-repeat="d in _drugs")
          td 
            a(ng-href='/a/drugs/{{d._id}}/item') {{d.itemName}}
          td {{d.sciName}}
          td {{d.nafdacRegNo}}
          td {{d.currentPrice.retail}}
          td
            .pull-right
              button.btn.btn-xs.btn-white(ng-click="add_to_list(d)") Add to My List                
              button.btn.btn-xs.btn-danger
                i.fa.fa-times
  //
     table-responsive 
