mixin allDrugs()
  .table-responsive
    table.table.table-bordered.mb30
      thead
        tr
          th DrugName
          th Composition
          th RegNo
          th Current Prices (N)
          -if (false)
            th In Stock (~)
          th
      tbody
        tr(ng-repeat="d in _drugs | filter: itemFilter")
          td
            -if (userData.account_type === 2 || userData.account_type === 4)
              a(ng-href='/a/users/{{d.supplier.supplierId}}/drugs/{{d._id}}/item') {{d.itemName}}
            -else
              a(ng-href='/a/drugs/{{d._id}}/item') {{d.itemName}}
          td {{d.sciName}}
          td {{d.nafdacRegNo}}
          td
            span.label.label-info(title="Retail Price") {{d.currentPrice.retail}}
            span.label.label-warning(title="Institution Price") {{d.currentPrice.institution}}
            span.label.label-success(title="Wholesale Price") {{d.currentPrice.wholesale}}
          -if (false)
            td {{d.stockCount}}
          td(style="min-width: 150px")
            .pull-right
              .btn-group.mr5
                  button.btn.btn-default.btn-sm(type='button') Manage
                    button.btn.btn-default.dropdown-toggle.btn-sm(type='button', data-toggle='dropdown')
                      span.caret
                      span.sr-only Click
                    ul.dropdown-menu(role='menu')
                      -if (false && userData.account_type < 4)
                        li
                          a(href='#', ng-click="view_stock_down(d); toggleModal('stock-history-modal')") Stock Down History
                      -if (false)
                        li
                          a(href='#', ng-click="view_stock_up(d); toggleModal('stock-history-modal')") Stock Up History
                      -if (false)
                        li
                          a(href='#', ng-click="item_stock(d); toggleModal('manage-stock-modal');") Stock Operations
                      li
                        a(href='#', ng-click="add_to_list(d)") Add to My List

                  button.btn.btn-sm.btn-danger(ng-click="remove_item(d._id, $index)")
                    i.fa.fa-times

    .x-pagination(pager="valRes", page-to="getPageItems(currentPage, pageLimit, cb)", current-page="currentPage", page-limit="pageLimit")

mixin allRequest()
  .table-responsive
    table.table.table-stripped
      thead
        tr
          th Item Name
          th Requester
          th Amount
          th Date
          th Last Update
          th Current Status
          th Reference
          th
      tbody
        tr(ng-repeat="tr in _request")
          td {{tr.itemId.itemName}}
          td {{tr.destId.name}}
          td
            | {{tr.amount}}
            i.fa.fa-exclamation(style="color: #1CAF9A", tooltips, title="This is an internal deduction being added here", ng-show="tr.destId == tr.originId")
          td {{tr.dateInitiated | date: 'short'}}
          td <strong>Status: </strong>{{tr.statusLog[0].code | stockRequestState}}, <em> {{tr.statusLog[0].dateStated | date: 'medium'}} </em>

          td {{tr.status | stockRequestState}}
          td {{tr.referenceId}}
          td
            button.btn.btn-xs.btn-primary(ng-click="approve_request(tr)", ng-disabled="tr.status != 0") Confirm
            button.btn.btn-xs.btn-danger(ng-click="reject_request(tr)", ng-disabled="tr.status != 0") Deny

mixin allPending()
  .table-responsive
    table.table.table-stripped
      thead
        tr
          th Item Name
          th Recipient
          th Amount
          th Date
          th Last Update
          th Current Status
          th Reference
          th
      tbody
        tr(ng-repeat="tr in _pending")
          td {{tr.itemId.itemName}}
          td {{tr.destId.name}}
          td
            | {{tr.amount}}
            i.fa.fa-exclamation(style="color: #1CAF9A", tooltips, title="This is an internal deduction being added here", ng-show="tr.destId == tr.originId")
          td {{tr.dateInitiated | date: 'short'}}
          td <strong>Status: </strong>{{tr.statusLog[0].code | stockRequestState}}, <em> {{tr.statusLog[0].dateStated | date: 'medium'}} </em>

          td {{tr.status | stockRequestState}}
          td {{tr.referenceId}}
          td
    .x-pager(pager="valRes", page-to="getPageItems(currentPage, pageLimit, cb)", current-page="currentPage", page-limit="pageLimit")
