mixin loadItemExtendedInfo(editable)
  -if (editable) 

    #extended-info.tab-pane.active
      mixin loadItemPrices(editable)
      .item-extended
        h4 Extended Information
        hr
        .row
          .col-sm-3 Indications and Usage
          .col-sm-6
            p.text-area.item-name(onbeforesave="updateItem($data, $editable.name)", editable-textarea="item.indications" )
              | {{item.indications || 'Empty'}}
        .row
          .col-sm-3 Contradictions
          .col-sm-6
            p.text-area(onbeforesave="updateItem($data, $editable.name)", editable-textarea="item.contradictions")
              | {{item.contradictions || 'Empty'}}
        .row
          .col-sm-3 Warnings
          .col-sm-6
            p.text-area(onbeforesave="updateItem($data, $editable.name)", editable-textarea="item.warnings")
              | {{item.warnings || 'Empty'}}
        .row
          .col-sm-3 Precautions
          .col-sm-6
            p.text-area(onbeforesave="updateItem($data, $editable.name)", editable-textarea="item.precautions")
              | {{item.precautions || 'Empty'}}
        .row
          .col-sm-3 Adverse Reactions
          .col-sm-6
            p.text-area(onbeforesave="updateItem($data, $editable.name)", editable-textarea="item.reactions")
              | {{item.reactions || 'Empty'}}
        .row
          .col-sm-3 Dosage and Administration
          .col-sm-6
            p.text-area(onbeforesave="updateItem($data, $editable.name)", editable-textarea="item.dosage")
              | {{item.dosage || 'Empty'}}
        .row
          .col-sm-3 Upload Image
          .col-sm-6.dropzone(dropzone, ng-model="add_item_form.images")
              input(name='itemImage', type='file', multiple='multiple', style="display: none")     
              span.help-text 
                | Add an image for this item. You can click here or drag and drop file right here, easy!     
  -else
    #extended-info.tab-pane.active
      mixin loadItemPrices(editable)
      .item-extended
        h4 Extended Information
        hr
        .row
          .col-sm-3 Indications and Usage
          .col-sm-6
            p.text-area.item-name
              | {{item.indications || 'Empty'}}
        .row
          .col-sm-3 Contradictions
          .col-sm-6
            p.text-area
              | {{item.contradictions || 'Empty'}}
        .row
          .col-sm-3 Warnings
          .col-sm-6
            p.text-area
              | {{item.warnings || 'Empty'}}
        .row
          .col-sm-3 Precautions
          .col-sm-6
            p.text-area
              | {{item.precautions || 'Empty'}}
        .row
          .col-sm-3 Adverse Reactions
          .col-sm-6
            p.text-area
              | {{item.reactions || 'Empty'}}
        .row
          .col-sm-3 Dosage and Administration
          .col-sm-6
            p.text-area
              | {{item.dosage || 'Empty'}}
   

mixin loadItemPrices(editable)
  -if (editable)
    .item-prices
      h4 Current Price
      hr
      .row
        .col-sm-3 WholeSale
        .col-sm-6
          p.text-area(type='text', onbeforesave="updatePrice($data, $editable.name)", editable-number="item.currentPrice.wholesale" )
            | {{item.currentPrice.wholesale || 'N0'}}
      .row
        .col-sm-3 Institution
        .col-sm-6
          p.text-area(onbeforesave="updatePrice($data, $editable.name)", editable-number="item.currentPrice.institution")
            | {{item.currentPrice.institution || 'N0'}}
      .row
        .col-sm-3 Retail
        .col-sm-6
          p.text-area(onbeforesave="updatePrice($data, $editable.name)", editable-number="item.currentPrice.retail")
            | {{item.currentPrice.retail || 'N0'}}
      .row
        .col-sm-3 Staff Price
        .col-sm-6
          p.text-area(onbeforesave="updatePrice($data, $editable.name)", editable-number="item.currentPrice.staffPrice")
            | {{item.currentPrice.staffPrice || 'N0'}}
      .row
        .col-sm-3 Instant Quote
        .col-sm-6
          p.text-area(onbeforesave="updateItem($data, $editable.name)", editable-select="item.instantQuote", e-ng-options="s.value as s.text for s in [{'value': 'false', 'text': 'Not Available'}, {'value': 'true', 'text': 'Available'}]")
            | {{item.instantQuote || 'Not Available'}}
  -else
    .item-prices
      h4 Current Price
      hr
      .row
        .col-sm-3 WholeSale
        .col-sm-6
          p.text-area
            | {{item.currentPrice.wholesale || 'N0'}}
      .row
        .col-sm-3 Institution
        .col-sm-6
          p.text-area
            | {{item.currentPrice.institution || 'N0'}}
      .row
        .col-sm-3 Retail
        .col-sm-6
          p.text-area
            | {{item.currentPrice.retail || 'N0'}}
      .row
        .col-sm-3 Staff Price
        .col-sm-6
          p.text-area
            | {{item.currentPrice.staffPrice || 'N0'}}
      .row
        .col-sm-3 Instant Quote
        .col-sm-6
          p.text-area
            | {{item.instantQuote || 'Not Available'}}    