mixin error5xx
  h1 Ooops
  h3 Something's broken somewhere!
  h4
    | We've sounded the alarms and be sure someone's getting the glue to fix
    | this. 
    br
    | Please try again later or return to our <a href="/" >homepage</a> 


