mixin register()
  form(name="register_new_account", ng-submit="send_registration()")
      h3.nomargin Sign Up
      p.mt5.mb20
        | Already a member?
        a(href='/signin', target="_top")
          strong  Sign In
      .alert.alert-danger(ng-show="auth_message.length > 0")
        | {{auth_message}}
      .mb10
        label.control-label Email Address
        input.form-control(type='email', required, ng-model="form.email")
      .mb10
        label.control-label Password
        input.form-control(type='password', required, equals, ng-model="form.password", id="password_true")
        span.msg-error(ng-show="register_new_account.verifyPassword.$error.passwordMatch") Passwords Must Match.
          
      .mb10
        label.control-label Retype Password
        input.form-control(type='password', required, equals, ng-model="form.password_c", password-match, name="verifyPassword")
      .mb10
        label.control-label Account Type
        select.form-control.chosen-select(data-placeholder='Facility, Distributor, Sales Agent..', required, ng-model="form.account_type")
          each p, index in people
            option(value=index) #{p.name}

      br
      button.btn.btn-success.btn-block(type="submit", ng-disabled="register_new_account.$invalid") Sign Up
  //
     col-sm-6 
