mixin allCart()
  .table-responsive(ng-controller="orderCartController")
    table.table.table-bordered.mb30.cart-table
      thead
        tr
          th Item
          th Quantity
          th Price (N)
          th.noprint Order Date
          th.noprint Status
          th.noprint Supplier
          th.noprint Action
      tbody
        tr(ng-repeat="or in orderCart")
          td 
            img.item-image(ng-src="/images/item-images/{{or.itemId.images[0] || 'default/item-avatar-small.jpg'}}")
            | {{or.itemId.itemName}}
          td {{or.orderAmount}}
          td
            |  {{or.viewPrice}}
          td.noprint {{or.orderDate | moment}}
          td.noprint(style="font-size: 11px") {{or.status | orderState}}
          td.noprint {{or.orderSupplier.name}}
          td.noprint
            button.btn.btn-xs.btn-info.btn-bell(ng-click="toggleModal('accept-quote-modal', or, $index)", ng-disabled="!or.canGo") 
              i.fa.fa-check
              |  Accept Quote 
            button.btn.btn-xs.btn-danger.btn-bell(ng-click="removeFromCart($index)") 
              i.fa.fa-times
              | Cancel
  //
     table-responsive 
