.contentpanel
    .panel.panel-default
      .col-md-12
        .panel.panel-default(ng-show="_drugs.length == 0")
            .panel-body
                | No Drugs Found

        include ../widgets/item/all-drugs
        .panel.panel-default(ng-show="_drugs.length > 0")
          +allDrugs()
          hr
          +allRequest()
include ../widgets/item/manage-item-modal
include ../widgets/item/stock-history-modal