.contentpanel(data-item-id="{{item._id || 'Empty'}}")
  .row
      .col-sm-3
        //input.start-edit(type="checkbox", checked, data-label-text="Edit item")
        .mb30
        img.thumbnail.img-responsive(dropzone, ng-src='/images/item-images/thumb-{{item.images[item.images.length -1] || "item-avatar.jpg"}}' , alt='', post-url="/upload/doc", post-param="itemImage", ng-model="item.images", post-cb="change_profile_photo(name)")
        .mb30
        .row
          h5.subtitle Drug Name
          p.mb10.x-editable(data-type="text", onbeforesave="updateItem($data, $editable.name)", editable-text="item.itemName")
            | {{item.itemName || 'Empty'}} 
        .mb10        
        .row
          h5.subtitle Composition
          p.x-editable(data-type="text", onbeforesave="updateItem($data, $editable.name)", editable-text="item.sciName")
            | {{item.sciName || 'Empty'}} 
        .row
          h5.subtitle Item Form
          p.x-editable(data-type="select", onbeforesave="updateItem($data, $editable.name)", editable-select="item.itemForm", e-ng-options="s for s in commons.itemForm")
            | {{item.itemForm || 'Empty'}}
        .row
          h5.subtitle Item Packaging
          p.x-editable(data-type="select", onbeforesave="updateItem($data, $editable.name)", editable-select="item.itemPackaging", e-ng-options="s for s in commons.itemPackaging")
            | {{item.itemPackaging || 'Empty'}}
        .row
        .row
          h5.subtitle Package Quantity
          p.x-editable(onbeforesave="updateItem($data, $editable.name)", editable-number="item.packageQty")
            | {{item.packageQty || '0'}}
        .row
          h5.subtitle Category
          p.x-editable(data-type="select", onbeforesave="updateItem($data, $editable.name)", editable-select="item.category", e-ng-options="s for s in commons.categories")
            | {{item.category || 'Empty'}}
        .row
          h5.subtitle Nafdac Reg No
          p.x-editable(data-type="text", onbeforesave="updateItem($data, $editable.name)", editable-text="item.nafdacRegNo")  
            | {{item.nafdacRegNo || 'Empty'}}
        -if (false)
          .mb20 
          .row   
            .panel.panel-default
                .panel-body
                  a(href="#")
                    | 0 Distributors
          .mb20  
          .row  
            .panel.panel-default
                .panel-body
                  a(href="#")
                    | 0 Staff 

      //
         col-sm-3 
      .col-sm-9
        //
           Nav tabs 
        ul.nav.nav-tabs.nav-justified.nav-profile
          li.active
            a(href='#extended-info', data-toggle='tab')
              strong Item Properties
          if (false)    
            li
              a(href='#prospects', data-toggle='tab')
                strong Prospects and Activity
          if (false)
            li
              a(href='#prospects', data-toggle='tab')
                strong Map
          if (false)
            li
              a(href='#comments', data-toggle='tab')
                strong Comments  
                span.label.label-default
                  | 0             
        //
           Tab panes 
        .tab-content
          include ../widgets/item/extended-info
          +loadItemExtendedInfo(true)

          include ../widgets/item/item-comments
          +itemComments(true)

append foot
  script(src='/js/jquery.prettyPhoto.js')
  script(src='/js/holder.js')
  //script(src="/js/modules/drug/item.js")
  script(src="/js/dropzone.min.js")