mixin allDrugs()
  .table-responsive
    table.table.table-bordered.mb30
      thead
        tr
          th DrugName
          th Composition
          th RegNo
          th Current Price
          th
      tbody
        tr(ng-repeat="d in _drugs")
          td 
            a(href="", ng-click="commons.href('/drugs/' + d._id  + '/item')") {{d.itemName}}
          td {{d.sciName}}
          td {{d.nafdacRegNo}}
          td {{d.currentPrice}}
          td
            .pull-right
              button.btn.btn-xs.btn-info(href="", ng-click="commons.href('/drugs/' + d._id )") More
                
              button.btn.btn-xs.btn-danger
                i.fa.fa-times
  //
     table-responsive 
