mixin loadItemExtendedInfo()
  #extended-info.tab-pane.active
    form.form-horizontal.form-bordered(ng-submit="add_drug(add_item_form)", novalidate, name="addItemForm")
      .form-group
        label.col-sm-3.control-label Indications and Usage
        .col-sm-6
          p.form-control-static.item-name(type='text', placeholder='', ng-model="add_item_form.itemName", required, type-ahead="autoCompleteItemName", remote="/ndl/search?query=%QUERY", name="item-name")
      .form-group
        label.col-sm-3.control-label Contradictions
        .col-sm-6
          p.form-control-static(type='text', placeholder='', ng-model="add_item_form.sciName", required)
      .form-group
        label.col-sm-3.control-label Warnings
        .col-sm-6
          p.form-control-static(type='text', placeholder='', ng-model="add_item_form.nafdacRegNo", required)
      .form-group
        label.col-sm-3.control-label Precautions
        .col-sm-6
          p.form-control-static(type='text', placeholder='', ng-model="add_item_form.category", required)
      .form-group
        label.col-sm-3.control-label Adverse Reactions
        .col-sm-6
          p.form-control-static(type='text', placeholder='', ng-model="add_item_form.category", required)
      .form-group
        label.col-sm-3.control-label Dosage and Administration
        .col-sm-6
          p.form-control-static(type='text', placeholder='', ng-model="add_item_form.category", required)
      .form-group
        label.col-sm-3 Upload Image
        .col-sm-6.dropzone(dropzone, ng-model="add_item_form.images")
            input(name='itemImage', type='file', multiple='multiple', style="display: none")     
            span.help-text 
              | Add an image for this item. You can click here or drag and drop file right here, easy!                           