mixin itemComments
  #comments.tab-pane
    .row
        .panel.panel-default.widget
          .panel-heading
            h3.panel-title
              | Recent Comments

          .panel-body
            h4 No Comments Added

