.contentpanel
  .row
      .col-sm-3
        img.thumbnail.img-responsive(src='images/photos/profile-1.png', alt='')
        .mb30
        h5.subtitle About
        p.mb10.x-editable(data-type="textarea", data-name="summary")
          | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitat...
        a(href='#') Show More
        .mb10        
        h5.subtitle Connect
        ul.profile-social-list
          li
            i.fa.fa-twitter
            a.x-editable(href='#', data-type="text", data-name="twitter") twitter.com/eileensideways
          li
            i.fa.fa-facebook
            a.x-editable(href='#', data-type="text", data-name="facebook") facebook.com/eileen

        .mb30
        h5.subtitle Office Address
        address.x-editable(data-type="textarea", data-name="address")
          | 795 Folsom Ave, Suite 600
          br
          | San Francisco, CA 94107
          br
        h5.subtitle Telephone
        p.x-editable(title='Phone', data-type="text", data-name="phone")
          | (123) 456-7890
      //
         col-sm-3 
      .col-sm-9
        .profile-header
          h2.profile-name.x-editable(data-name="name", data-type="text") Eileen Sideways
          .profile-location
            i.fa.fa-map-marker
            span.x-editable(data-type="text", data-name="coverage")
              | San Francisco, California, USA
          .profile-position
            i.fa.fa-briefcase
            span.x-editable(data-name="position", data-type="text") Software Engineer 
            span(style="margin: 0 2px;") at 
            a.x-editable(href='#', data-type="text", data-name="employer") SomeCompany, Inc.
          .mb20
          button.btn.btn-success.mr5.start-edit
            i.fa.fa-user
            | Edit Profile
          button.btn.btn-white
            i.fa.fa-envelope-o
            | Message
        //
           profile-header 
        //
           Nav tabs 
        ul.nav.nav-tabs.nav-justified.nav-profile
          li.active
            a(href='#activities', data-toggle='tab')
              strong Activities
          li
            a(href='#drug-pages', data-toggle='tab')
              strong Drug Pages
          li
            a(href='#calendar', data-toggle='tab')
              strong Calendar
          li
            a(href='#prospects', data-toggle='tab')
              strong Prospects
        //
           Tab panes 
        .tab-content
          include ../widgets/profile/activity
          +loadActivities()

          include ../widgets/profile/drug-pages
          +loadDrugPages()

          include ../widgets/profile/calendar
          +loadCalendar()

          include ../widgets/profile/prospects
          +loadProspects()

append scripts
script(src='/js/jquery.prettyPhoto.js')
script(src='/js/holder.js')
script.
  jQuery(document).ready(function(){
    jQuery("a[rel^='prettyPhoto']").prettyPhoto();
    //Replaces data-rel attribute to rel.
    //We use data-rel because of w3c validation issue
    jQuery('a[data-rel]').each(function() {
    jQuery(this).attr('rel', jQuery(this).data('rel'));
    });

    $.fn.editable.defaults.pk = '48389749837483'; 
    $.fn.editable.defaults.ajaxOptions =  {
      type: "PUT"
    };

    $.fn.editable.defaults.url = '/users/profile';

    $('.x-editable').editable('disable');
    $(document).on('click', '.start-edit', function (e) {
      $('.x-editable').editable('toggleDisabled');
    });
  });
