<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="https://www.facebook.com/2008/fbml" ng-app="stocPublic">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title>Integra StocCloud - undefined</title>
  <meta http-equiv="Content-type" content="text/html;charset=UTF-8">
  <meta name="keywords" content="node.js, express, mongoose, mongodb, angularjs, integra, integra health, health, medicare, medicine, hospital,">
  <meta name="description" content="Integra Online">
  <link href="favicon.ico" rel="shortcut icon" type="image/x-icon">
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
  <link href="/css/public.min.css" rel="stylesheet">
  <!--HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries 
  -->
  <!--if lt IE 9
  script(src='js/html5shiv.js')
  script(src='js/respond.min.js')
  -->
  <body class="signin">
    <div id="preloader">
      <div id="status"><i class="fa fa-spinner fa-spin"></i></div>
    </div>
    <section ng-controller="userController">
      <div class="signinpanel">
        <div class="row">
          <div class="col-md-7">
            <div class="signin-info">
              <div class="logopanel">
                <h1><span>[</span>StocCloud<span>]</span></h1>
              </div>
              <!--logopanel 
              -->
              <div class="mb20"></div>
              <h5><strong>Welcome to Integra StocCloud</strong></h5>
              <ul>
                <li><i class="fa fa-arrow-circle-o-right mr5"></i>Manage Medical Orders and Supplies</li>
                <li><i class="fa fa-arrow-circle-o-right mr5"></i>Intelligent Reporting</li>
                <li><i class="fa fa-arrow-circle-o-right mr5"></i>Real-time Medical Item Prices  </li>
                <li><i class="fa fa-arrow-circle-o-right mr5"></i>and much more...</li>
              </ul>
              <div class="mb20"></div><strong>Not a member? <a href="/signup" target="_top">Sign Up</a></strong>
            </div>
            <!--signin0-info 
            -->
          </div>
          <!--col-sm-7 
          -->
          <div class="col-md-5">
                        <form name="signin_form" ng-submit="send_login()">
                          <div ng-show="auth_message.length &gt; 0" class="alert alert-danger">{{auth_message}}</div>
                          <h4 class="nomargin">Sign In</h4>
                          <p class="mt5 mb20">Login to access your account.</p>
                          <input type="text" placeholder="Username or email" ng-model="form.email" ng-keyup="auth_message =''" autofocus class="form-control uname">
                          <input type="password" placeholder="Password" ng-model="form.password" class="form-control pword"><a href="#"><small>Forgot Your Password?</small></a>
                          <button type="submit" class="btn btn-success btn-block">Sign In</button>
                        </form>
          </div>
        </div>
      </div>
    </section>
    <div class="signup-footer">
      <div class="pull-left">© 2014. All Rights Reserved. StocCloud</div>
      <div class="pull-right"><a href="http://integrahealth.com.ng" target="_blank">www.integrahealth.com.ng</a></div>
    </div>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="js/jquery-2.1.1.min.js">\x3C/script>')</script>
    <script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.2.1/js/bootstrap.min.js"></script>
    <script>$.fn.modal || document.write('<script src="/js/bootstrap.min.js">\x3C/script>')  </script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.min.js">
      <window class="angular">|| document.write('<script src="/js/angular.min.js">\x3C/script>') </window>
    </script>
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>
    <script src="/js/public-vendor.min.js"></script>
    <script src="/js/public-module.min.js"></script>
    <script src="/js/modules/public.js"></script>
    <script src="/js/modules/lang.js"></script>
    <script src="/js/modules/order/order.js"></script>
    <script src="/js/modules/drug/drug.js"></script>
    <script src="/js/common/services/services.js">   </script>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        ga('create', 'UA-51278084-1', 'stoc-cloud-dev.herokuapp.com');
        ga('send', 'pageview');
        
    </script>
  </body>
</html>