
<div class="contentpanel">
  <div class="row">
    <p class="text-center"><img src="/images/search-icon.png" style="width: 190px"/></p>
  </div>
  <div class="row">
    <div class="col-xs-8 col-xs-offset-2">
      <div class="input-group">
        <div class="input-group-btn search-panel">
          <button type="button" data-toggle="dropdown" class="btn btn-default dropdown-toggle"><span id="search_concept">Search by</span><span class="caret"></span></button>
          <ul role="menu" class="dropdown-menu">
            <li><a href="#" ng-click="item_query.param = 'brandName'">Brand Name</a></li>
            <li><a href="#" ng-click="item_query.param = 'composition'">Composition</a></li>
            <li><a href="#" ng-click="item_query.param = 'manufacturer'">Manufacturer </a></li>
            <li><a href="#" ng-click="item_query.param = 'manufacturer'">Location </a></li>
          </ul>
        </div>
        <input type="text" placeholder="Search term..." ng-model="item_query.s" class="form-control"/><span class="input-group-btn">
          <button type="button" ng-click="search(item_query)" class="btn btn-default"><span class="glyphicon glyphicon-search"></span></button></span>
      </div>
    </div>
  </div>
</div>
<script src="/js/modules/order/google-search.js"></script>