
mixin assignRes (account_type) 
  .col-sm-4.col-md-3
    h4.subtitle.mb5 Tag to staff
    .btn-group(ng-init="lgaView = true")
      button.btn.btn-white(ng-click="lgaView = !lgaView; medView = !medView") Facilities
      button.btn.btn-white(ng-click="medView = !medView; lgaView = !lgaView") Coverage
    
    form(name="search_wards_teritory")
      label.control-label Select a state
      select.form-control(type='text', placeholder='States', ng-model="current_state", required)
        each s , index in states
          option(value=index + 1) #{s}
      .mb5
   
    .search-wards-teritory(ng-show="lgaView")
      h4.subtitle LGAs   
      .collection-li
        ul(style="padding: 0")
          li(ng-repeat="col in lgas")
            button.btn.btn-black.btn-block(data-drop='true', ng-model="col.content", data-jqyoui-options="{accept:'.people-item'}", jqyoui-droppable="{multiple:true, onDrop: 'onDropAssignWard(e, ui)', onOver: 'onOver(e, ui)', onOut: 'onOut(e, ui)'}") {{col.name}}
              span.label.pull-right(ng-class="{'label-danger': col.content.length == 0, 'label-info': col.content.length > 0}") {{col.content.length}}
      .mb20
    .search-wards-facility(ng-show="medView")
      form(name="search_wards_facility")
        label.control-label() Medical Facilities
        .row
          .col-md-8
            input.form-control(type='search', placeholder='', ng-model="new_staff.email", required)
          .col-md-3
            button.btn.btn-info(type="submit") Search
      h4.subtitle Medical Facility
      .collection-li   
        ul(style="padding: 0")
          li(ng-repeat="med in meds")
            button.btn.btn-black.btn-block(data-drop='true', ng-model="med.content", data-jqyoui-options="{accept:'.people-item'}", jqyoui-droppable="{multiple:true, onDrop: 'onDropAssignWard(e, ui)', onOver: 'onOver(e, ui)', onOut: 'onOut(e, ui)'}") {{med.name}}
              span.label.pull-right(ng-class="{'label-danger': col.content.length == 0, 'label-info': col.content.length > 0}") {{med.content.length}}