mixin showStaff()
  .col-sm-8.col-md-9
    .panel.panel-default
      .panel-heading
        ul.pagination.nomargin.pull-right
          li.disabled
            a(href='#')
              i.fa.fa-angle-left
          li
            a(href='#') 1
          li.active
            a(href='#') 2
          li
            a(href='#') 3
          li
            a(href='#') 4
          li
            a(href='#') 5
          li
            a(href='#')
              i.fa.fa-angle-right
        h4.panel-title Found {{people.length}} people.
      //
         panel-heading 
      .panel-body
        .results-list
          .col-md-6(ng-repeat="peeps in people")
              .people-item(data-drop='true', ng-model="peeps.coverage", data-jqyoui-options="{accept:'.btn-draggable'}", jqyoui-droppable="{multiple:true, onDrop: 'onDropAssignWard(e, ui, peeps, $index)', onOver: 'onOver(e)', onOut: 'onOut(e)'}")
                  .media
                    a.pull-left(href='/organization/people/{{peeps._id}}/staff')
                      img.thumbnail.media-object(alt='', src='/images/default-avatar.png')
                    .media-body
                      h4.person-name 
                        a(href='/organization/people/{{peeps._id}}/staff') {{peeps.name | dashed}} 
                      .text-muted 
                        | {{peeps.userId.email}}
                      .text-muted
                        | {{peeps.userId.account_type | acctype}}
                      .btn-group
                          a.btn.btn-white.btn-xs(href='#', data-toggle='tooltip', data-placement='top', title='')
                            | Coverage
                            span.label.label-default(style="padding: 2px 4px; margin: 0 1px") {{peeps.coverage.length || 0}}
                          a.btn.btn-white.btn-xs(href='#', data-toggle='tooltip', data-placement='top', title='')
                            | Facilities

                    .pop-hospital-list(data-drop='true', ng-model='list4', data-jqyoui-options='{accept:\'.btn-draggable:not([ng-model=list4])\'}', jqyoui-droppable='{multiple:true}')
                        .caption
                            .btn.btn-info.btn-draggable(ng-repeat='item in list4', ng-show='item.title', data-drag='{{item.drag}}', data-jqyoui-options='{revert: \'invalid\'}', ng-model='list4', jqyoui-draggable='{index: {{$index}},animate:true}') {{item.title}}

                    .pop-coverage-list(data-drop='true', ng-model='list4', data-jqyoui-options='{accept:\'.btn-draggable:not([ng-model=list4])\'}', jqyoui-droppable='{multiple:true}')
                        .caption
                            .btn.btn-info.btn-draggable(ng-repeat='item in list4', ng-show='item.title', data-drag='{{item.drag}}', data-jqyoui-options='{revert: \'invalid\'}', ng-model='list4', jqyoui-draggable='{index: {{$index}},animate:true}') {{item.title}}
