.row-fluid.row-break
  .col-md-10
    .row-fluid.fixed-table
      .col-md-12
        .table-content(ng-show="supplierList.length > 0")
          table#list-suppliers.table.table-fixed-header
            thead.header
              tr
                th Supplier Name
                th Address
                th Phone Numbers
                th Contact Person
                th Supplier Since
                th Actions
            tbody
              tr(ng-repeat="supplier in supplierList", on-finish="tableheader")
                td {{supplier.supplierName}}
                td {{supplier.address}}
                td {{supplier.phoneNumber}}
                td {{supplier.contactPerson}}
                td {{supplier.addedOn | date: 'medium'}}
                td 
                  button.btn.btn-primary.btn-mini(ng-click="viewMore($index)") More
                  button.btn.btn-danger.btn-mini(ng-click="removeSupplier($index)") Delete
        .pagination(pagination="supplierList")
        h2(ng-show="supplierList.length == 0") No Suppliers Added
             
