!!! 5
html(lang='en', xmlns='http://www.w3.org/1999/xhtml', xmlns:fb='https://www.facebook.com/2008/fbml',ng-app="integraApp")
  include ../includes/head
  body(ng-controller='MainController')
    block mainbody
      .main-wrapper
        .top-bar
          .container
              .row
                .col-md-4
                  .branding
        block body

